@model IEnumerable<TnT.Models.TraceLinkImporter.M_SOM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>
 @TnT.LangResource.GlobalRes.TracelinkExportFilesSOMDetails
    <a style="float: right; margin-right: 5px;" href='@Url.Action("Create","SOM")' class="btn btn-info btn-icon icon-left">
        @TnT.LangResource.GlobalRes.SOMIndexCreateNew
        <i class="fa fa-server"></i>
    </a>
</h2>


<table class="table table-bordered datatable" id="table-1">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromBusinessPartyLookupId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>

            <th></th>
        </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.BusinessName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromBusinessPartyLookupId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>

                <td>
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                            @TnT.LangResource.GlobalRes.SOMIndexAction <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="tooltip-primary" data-toggle="tooltip" data-placement="top" title data-original-title="@TnT.LangResource.GlobalRes.SOMIndexView" href='@Url.Action("Details","SOM",  new {id = item.Id})'> <i class="entypo-doc-text-inv"></i> @TnT.LangResource.GlobalRes.SOMIndexView</a>
                            </li>
                            <li>
                                <a class="tooltip-primary" data-toggle="tooltip" data-placement="top" title data-original-title="@TnT.LangResource.GlobalRes.SOMIndexEdit" href='@Url.Action("Edit","SOM",  new {id = item.Id})'> <i class="entypo-pencil"></i> @TnT.LangResource.GlobalRes.SOMIndexEdit</a>
                            </li>
                            @*<li>
                                <a class="tooltip-primary" data-toggle="tooltip" data-placement="top" title data-original-title="Delete" href='@Url.Action("Delete","LineLocation",  new {id = item.ID})'> <i class="entypo-trash"></i> Delete</a>
                            </li>*@
                        </ul>
                    </div>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }

</table>
