@model TnT.Models.SettingsNUtility.Roles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Home/_Layout.cshtml";
}

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>
    @TnT.LangResource.GlobalRes.RolesActivation
    <a style="float: right; margin-right: 5px;" href='@Url.Action("Index","Roles")' class="btn btn-danger btn-icon icon-left">
      @TnT.LangResource.GlobalRes.cmnBtnBackToList
        <i class="fa fa-reply"></i>
    </a>
</h2>

@using (Html.BeginForm("Activation", "Roles", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="frmUsr">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Roles_Name, htmlAttributes: new { @class = "control-label col-md-2 popover-default", @data_toggle = "popover", @data_trigger = "hover", data_placement = "top", @data_content = TnT.LangResource.GlobalRes.ToolTipRoleName, @data_original_title = "Field Information" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Roles_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Roles_Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2 popover-default", @data_toggle = "popover", @data_trigger = "hover", data_placement = "top", @data_content = TnT.LangResource.GlobalRes.ToolTipRoleActive, @data_original_title = "Field Information" })
            <div class="col-sm-1">
                @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-info" value="@TnT.LangResource.GlobalRes.cmnBtnSave" />
            </div>
        </div>

    </div>
}