@model TnT.Models.Job.LineLocation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>
    @TnT.LangResource.GlobalRes.LineLocationDetails @Model.LocationCode
    <a style="float: right; margin-right: 5px;" href='@Url.Action("Index","LineLocation")' class="btn btn-danger btn-icon icon-left">
       @TnT.LangResource.GlobalRes.cmnBtnBackToList
        <i class="fa fa-reply"></i>
    </a>


</h2>

<div>

    <div class="dl-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.LocationCode, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayNameFor(model => model.LocationCode)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.DivisionCode, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.DivisionCode)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.PlantCode, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.PlantCode)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.LineCode, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.LineCode)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.LineIP, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.LineIP)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.ServerName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.ServerName)
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.DBName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.DBName)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.SQLUsername, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.SQLUsername)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.SQLPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.SQLPassword)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.IsActive)
                    </div>
                </div>
            </div>

        </div>
        

    </div>





</div>
