@*@{
        var data = Session[Convert.ToInt32(User.ID).ToString()] as List<string>;
        User.permissions = data;
    }*@
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" href="~/Content/assets/favicon.ico">
    <title>PACKi TRACKnTRACE Manager  - Propix Technologies PVT. LTD.</title>
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" />
    <link rel="stylesheet" href="~/Content/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="~/Content/assets/css/font-icons/font-awesome/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">*@
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/assets/css/neon-core.css">
    <link rel="stylesheet" href="~/Content/assets/css/neon-theme.css">
    <link rel="stylesheet" href="~/Content/assets/css/neon-forms.css">
    <link rel="stylesheet" href="~/Content/assets/css/custom.css">
    <link rel="stylesheet" href="~/Content/assets/css/hover.css">
    <link rel="stylesheet" href="~/Content/assets/js/datatables/datatables.css">


    <script src="~/Content/assets/js/jquery-1.11.3.min.js"></script>


    <script src="~/scripts/modernizr-2.6.2.js"></script>

    <script src="~/Content/assets/js/bootstrap.js"></script>
    <script src="~/Content/assets/js/toastr.js"></script>






    <!--[if lt IE 9]><script src="~/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Wiard Screen CSS -->
    <link rel="stylesheet" href="~/Content/assets/popup/css/form-elements.css">
    <link rel="stylesheet" href="~/Content/assets/popup/css/style.css">
    @RenderSection("Scripts", required: false)


    <style>
        .leftAlign {
            text-align: left;
        }

        .col-md-6 {
            word-wrap: break-word;
        }

        .col-md-4 {
            word-wrap: break-word;
        }

        .modal {
            text-align: center;
        }

        @@media screen and (min-width: 768px) {
            .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
            }
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
    </style>

    <script language="javascript">
        $(document).ready(function () {
            $(document).bind("contextmenu", function (e) {
                return false;
            });
        });
    </script>
    <script>
        idleTimer = null;
        idleState = false;
        idleWait = (@Utilities.getAppSettings("ExpirationTime") *60) * 1000;
        //idleWait = 30000;
        //console.log(idleWait);
        (function ($) {

            $(document).ready(function () {

                $('*').bind('mousemove keydown scroll', function () {

                    clearTimeout(idleTimer);

                    if (idleState == true) {

                        // Reactivated event
                        console.log("Session continued.");
                    }

                    idleState = false;

                    idleTimer = setTimeout(function () {

                        // Idle Event

                        console.log("You've been idle for " + idleWait/1000 + " seconds.");

                        window.location.href = "@Url.Action("Logout","Account",new { returnUrl = HttpContext.Current.Request.Url.AbsolutePath})";
                        idleState = true; }, idleWait);
                });

                $("body").trigger("mousemove");

            });
        }) (jQuery)

        @{


        }


    </script>
</head>

<body class="page-body">
    <div class="page-container">
        <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

        <div class="sidebar-menu">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <!-- logo -->
                    <div class="logo hvr-bounce-in">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/Content/assets/images/CompanyLogo/logo.png" width="120" alt="" />
                        </a>
                    </div>
                    <!-- logo collapse icon -->
                    <div class="sidebar-collapse">
                        <a href="#" class="sidebar-collapse-icon">
                            <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                            <i class="entypo-menu"></i>
                        </a>
                    </div>
                    <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                    <div class="sidebar-mobile-menu visible-xs">
                        <a href="#" class="with-animation">
                            <!-- add class "with-animation" to support animation -->
                            <i class="entypo-menu"></i>
                        </a>
                    </div>
                </header>
                <script></script>

                <ul id="main-menu" class="main-menu">

                    <!-- add class "multiple-expanded" to allow multiple submenus to open -->
                    <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="entypo-gauge"></i>
                            <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemDashboard)</span>
                        </a>
                    </li>



                    @*<li class="has-sub root-level @(ViewContext.RouteData.Values["Controller"].ToString() == "Vendor" ? "active opened" : "")">
                            <a href="@Url.Action("Index","Vendor") ">
                                <i class="entypo-users"></i>
                                <span class="title"> LLC Master</span>
                            </a>
                            <ul @(ViewContext.RouteData.Values["Controller"].ToString() == "Vendor" ? "class='visible'" : "style='opacity: 0.2; height: 0px;'") ">
                                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                    <a href="@Url.Action("Index","Vendor") ">
                                        <span class="title">LLC</span>
                                    </a>
                                </li>
                                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Notify" ? "active" : "")">
                                    <a href="@Url.Action("Notify","Vendor") ">
                                        <span class="title">Notify LLC</span>
                                    </a>
                                </li>
                            </ul>
                        </li>*@


                    @if (User.permissions.Contains("Line Execution"))
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "LiveExecution" ? "active" : "")">
                            <a href="@Url.Action("LiveExecution", "Home")">
                                <i class="entypo-flow-tree"></i>
                                <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemLineExecution)</span>
                            </a>
                        </li>
                    }

                    <li class="has-sub root-level @(ViewContext.RouteData.Values["Controller"].ToString() == "Product" ? "active opened" : "")">
                        <a href="@Url.Action("Index", "Product")">
                            <i class="fa fa-server"></i>
                            <span class="title"> @Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemProductMaster)</span>
                        </a>
                        <ul @(ViewContext.RouteData.Values["Controller"].ToString() == "Product" ? "class='visible'" : "style='opacity: 0.2; height: 0px;'") ">
                            <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "Product") && (ViewContext.RouteData.Values["Action"].ToString() == "Index") ? "active" : "")">
                                <a href="@Url.Action("Index", "Product") ">
                                    <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemProductMasterSubItemProducts)</span>
                                </a>
                            </li>

                            @if (User.permissions.Contains("Verify Product"))
                            {
                                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Verification" ? "active" : "")">
                                    <a href="@Url.Action("Verification", "Product")">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemProductMasterSubItemVerifyProducts)</span>
                                    </a>
                                </li>
                            }
                            @if (User.permissions.Contains("Import Products"))
                            {
                                <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "Product") && (ViewContext.RouteData.Values["Action"].ToString() == "Import") ? "active" : "")">
                                    <a href="@Url.Action("Import", "Product") ">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemProductMasterSubItemImportProducts)</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>




                    <li class="has-sub root-level @((ViewContext.RouteData.Values["Controller"].ToString() == "Jobs") || (ViewContext.RouteData.Values["Controller"].ToString() == "PushToGlobal") ? "active opened" : "")">
                        <a href="@Url.Action("Index", "Jobs")">
                            <i class="fa fa-cog"></i>
                            <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemBatchMaster)</span>
                        </a>
                        <ul @(ViewContext.RouteData.Values["Controller"].ToString() == "Jobs" ? "class='visible'" : "style='opacity: 0.2; height: 0px;'") ">
                            <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "Jobs") && (ViewContext.RouteData.Values["Action"].ToString() == "Index") ? "active" : "")">
                                <a href="@Url.Action("Index", "Jobs") ">
                                    <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemBatchMasterSubItemBatches)</span>
                                </a>
                            </li>
                            @*<li>
                                    <a href="@Url.Action("Create","Jobs") ">
                                        <span class="title">Create Job</span>
                                    </a>
                                </li>*@
                            @if (User.permissions.Contains("Verify Batch"))
                            {
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Verification") || (ViewContext.RouteData.Values["Action"].ToString() == "Verify") ? "active" : "")">
                                    <a href="@Url.Action("Verification", "Jobs")">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemBatchMasterSubItemVerifyBatch)</span>
                                    </a>
                                </li>
                            }
                            @if (User.permissions.Contains("Close Batch"))
                            {
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Closing") || (ViewContext.RouteData.Values["Action"].ToString() == "CloseJob") ? "active" : "")">
                                    <a href="@Url.Action("Closing", "Jobs")">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemBatchMasterSubItemCloseBatch)</span>
                                    </a>
                                </li>
                            }
                            @if (User.permissions.Contains("View Decommission Batches"))
                            {
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Decommisioned") || (ViewContext.RouteData.Values["Action"].ToString() == "DecommisionedLst") ? "active" : "")">
                                    <a href="@Url.Action("DecommisionedLst", "Jobs")">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemBatchMasterSubItemViewDecomBatches)</span>
                                    </a>
                                </li>
                            }
                            @if (User.permissions.Contains("Manage Batches"))
                            {
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "BatchManager") || (ViewContext.RouteData.Values["Action"].ToString() == "BatchManager") ? "active" : "")">

                                    <a href="@Url.Action("BatchManager", "Jobs")">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemBatchMasterSubItemManageBatches)</span>
                                    </a>
                                </li>
                            }
                            @if (User.permissions.Contains("Create Additional Batch Quantity") || User.permissions.Contains("Verify Additional Batch Quantity"))
                            {
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "VerifyAdditionBatchQty") || (ViewContext.RouteData.Values["Action"].ToString() == "VerifyAdditionBatchQty") ? "active" : "")">

                                    <a href="@Url.Action("VerifyAdditionBatchQty", "Jobs")">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemBatchMasterAddBatchQty)</span>
                                    </a>
                                </li>
                            }
                            @if (@Utilities.getAppSettings("IsGlobalServer") == "true")
                            {
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index") || (ViewContext.RouteData.Values["Action"].ToString() == "Index") ? "active" : "")">

                                    <a href="@Url.Action("Index", "PushToGlobal")">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemPushCLoseToGloServer)</span>
                                    </a>
                                </li>
                            }
                            @*<li>
                                    <a href="@Url.Action("Line","Jobs")">
                                        <span class="title">Check Line</span>
                                    </a>
                                </li>*@

                        </ul>
                    </li>

                    <li class="has-sub root-level @((ViewContext.RouteData.Values["Controller"].ToString() == "Settings") || (ViewContext.RouteData.Values["Controller"].ToString() == "Users") || (ViewContext.RouteData.Values["Controller"].ToString() == "Roles") || (ViewContext.RouteData.Values["Controller"].ToString() == "Customer") || (ViewContext.RouteData.Values["Controller"].ToString() == "Providers") || (ViewContext.RouteData.Values["Controller"].ToString() == "LblLytDsg") || (ViewContext.RouteData.Values["Controller"].ToString() == "LineLocation") || (ViewContext.RouteData.Values["Controller"].ToString() == "LineLocation") || (ViewContext.RouteData.Values["Controller"].ToString() == "ImportXml") ? "active opened" : "")">
                        <a href="@Url.Action("Index", "Settings")">
                            <i class="fa fa-gears"></i>
                            <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemSetNUtil)</span>
                        </a>
                        <ul @(ViewContext.RouteData.Values["Controller"].ToString() == "Settings" ? "class='visible'" : "style='opacity: 0.2; height: 0px;'")>
                            @if (User.permissions.Contains("Company Info"))
                            {
                                <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "Settings") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Settings") ">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemSetNUtilSubItemCoInfo)</span>
                                    </a>
                                </li>
                            }
                            @if (User.permissions.Contains("Database Backup") || User.permissions.Contains("Restore Database Request") || User.permissions.Contains("Verify Restore Db Request"))
                            {
                                <li class="has-sub @((ViewContext.RouteData.Values["Controller"].ToString() == "Settings") ? "active" : "")">
                                    <a href="@Url.Action("DataBaseBackup", "Settings")">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemDbUtility)</span>
                                    </a>
                                    <ul @(ViewContext.RouteData.Values["Controller"].ToString() == "Settings" ? "class='visible'" : "style='opacity: 0.2; height: 0px;'")>
                                        @if (User.permissions.Contains("Database Backup"))
                                        {
                                            <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "Settings") ? "active" : "")">
                                                <a href="@Url.Action("DataBaseBackup", "Settings") ">
                                                    <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemSetNUtilSubItemDbBackup)</span>
                                                </a>
                                            </li>
                                        }
                                        @if (User.permissions.Contains("Restore Database Request"))
                                        {
                                            <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "Settings") ? "active" : "")">
                                                <a href="@Url.Action("RestoreDb", "Settings") ">
                                                    <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemDbReqRestore)</span>
                                                </a>
                                            </li>
                                        }
                                        @if (User.permissions.Contains("Verify Restore Db Request"))
                                        {
                                            <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "Settings") ? "active" : "")">
                                                <a href="@Url.Action("VerifyRestoreDb", "Settings") ">
                                                    <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemVerifyDbReqRestore)</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            @if (User.permissions.Contains("Manage Customer"))
                            {
                                <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "Settings")  ? "active" : "")">
                                    <a href="@Url.Action("Index","Customer") ">
                                        <span class="title">@TnT.LangResource.GlobalRes.cmnMenuItemManageCust</span>
                                    </a>
                                </li>
                            }

                            @if (User.permissions.Contains("Manage Roles"))
                            {
                                <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "Roles") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Roles") ">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemSetNUtilSubItemMngRoles)</span>
                                    </a>
                                </li>
                            }
                            @if (User.permissions.Contains("Manage User"))
                            {
                                <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "Users") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Users") ">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemSetNUtilSubItemMngUsers)</span>
                                    </a>
                                </li>
                            }
                            @if (User.permissions.Contains("Label Layout Designer") )
                            {
                                <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "LblLytDsg") ? "active" : "")">
                                    <a href="@Url.Action("ZPLDesigner", "LblLytDsg") ">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemSetNUtilSubItemLblLytDsg)</span>
                                    </a>
                                </li>
                            }
                            <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "LineLocation") ? "active" : "")">
                                <a href="@Url.Action("Index", "LineLocation") ">
                                    <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemSetNUtilSubItemLineLoc)</span>
                                </a>
                            </li>
                            @*@if (User.permissions.Contains("South Korea Utility"))
                                {
                                    <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "ImportXml") ? "active" : "")">
                                        <a href="@Url.Action("Index", "ImportXml") ">
                                            <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemSouthKoreaUtility)</span>
                                        </a>
                                    </li>
                                }
                                @if (User.permissions.Contains("China Utility"))
                                {
                                    <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "ImportUIDs") ? "active" : "" ) ">
                                        <a href="@Url.Action("ImportUIDs", "ImportXml") ">
                                            <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemChinaUtility)</span>
                                        </a>
                                    </li>
                                }*@
                        </ul>
                    </li>
                    @if (User.permissions.Contains("TraceKey Service"))
                    {
                        <li class="has-sub root-level@((ViewContext.RouteData.Values["Controller"].ToString() == "Tracelink") || 								       (ViewContext.RouteData.Values["Controller"].ToString() == "Users") || (ViewContext.RouteData.Values["Controller"].ToString() == "Importer") || (ViewContext.RouteData.Values["Controller"].ToString() == "RFXLImportUID") || (ViewContext.RouteData.Values["Controller"].ToString() == "ServersAS2") || (ViewContext.RouteData.Values["Controller"].ToString() == "SOM") ? "active opened" : "")">
                            <a href="# ">
                                <i class="entypo-shareable"></i>
                                <span class="title"> @TnT.LangResource.GlobalRes.cmnMenuItemThirdPartyService</span>
                            </a>
                            <ul>
                                @if (User.permissions.Contains("TraceKey Service"))
                                {
                                    <li class="has-sub @(ViewContext.RouteData.Values["Controller"].ToString() == "TraceKey" ? "active opened" : "")">
                                        <a href="# ">
                                            <i class="entypo-shareable"></i>
                                            <span class="title"> @Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemTracekeyService)</span>
                                        </a>
                                        <ul @(ViewContext.RouteData.Values["Controller"].ToString() == "TraceKey" ? "class='visible'" : "style='opacity: 0.2; height: 0px;'")>
                                            <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "TraceKey") ? "active" : "")">
                                                <a href="@Url.Action("TraceKeyList", "TraceKey") ">
                                                    <span class="title">@Html.Label(TnT.LangResource.GlobalRes.CmnMenuTrackeyImportSrNum)</span>
                                                </a>
                                            </li>
                                            <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "TraceKey") ? "active" : "")">
                                                <a href="@Url.Action("Index", "TraceKey") ">
                                                    <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemGenerateTracekeyEpcis)</span>
                                                </a>
                                            </li>
                                            <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "TraceKey") ? "active" : "")">
                                                <a href="@Url.Action("UnusedUidCount", "Reports") ">
                                                    <span class="title">@Html.Label(TnT.LangResource.GlobalRes.headerUnusedSerialNumbersQuantity)</span>
                                                </a>
                                            </li>
                                        </ul>

                                    </li>
                                }

                            </ul>
                        </li>
                    }

                    @*<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "EPCIS" ? "active" : "")">
                            <a href="@Url.Action("Index","EPCIS") ">
                                <i class="entypo-shareable"></i>
                                <span class="title"> @Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemGenerateEPCIS)</span>
                            </a>
                        </li>*@
                    @if (User.permissions.Contains("EPCIS"))
                    {
                        <li class="has-sub root-level @((ViewContext.RouteData.Values["Controller"].ToString() == "EPCIS") || ((ViewContext.RouteData.Values["Controller"].ToString() == "Reports") && (ViewContext.RouteData.Values["Action"].ToString() == "EPCISSearch")) ? "active opened" : "")">
                            <a href="@Url.Action("Index", "EPCIS")">
                                <i class="entypo-code"></i>
                                <span class="title"> @Html.Label("EPCIS")</span>
                            </a>
                            <ul @(ViewContext.RouteData.Values["Controller"].ToString() == "EPCIS" ? "class='visible'" : "style='opacity: 0.2; height: 0px;'")>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index") ? "active" : "")">
                                    <a href="@Url.Action("Index", "EPCIS") ">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemTracelinkServGenerateFiles)</span>
                                    </a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "EPCISSearch") ? "active" : "")">
                                    <a href="@Url.Action("EPCISSearch", "Reports") ">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemEPCSearch)</span>
                                    </a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Shipment") ? "active" : "")">
                                    <a href="@Url.Action("Shipment", "EPCIS") ">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.EPCISShipment)</span>
                                    </a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Transaction") ? "active" : "")">
                                    <a href="@Url.Action("Transaction", "EPCIS") ">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.EPCISTransaction)</span>
                                    </a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "TransporterIndex") ? "active" : "")">
                                    <a href="@Url.Action("TransporterIndex", "EPCIS") ">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemEpcisTransporterMaster)</span>
                                    </a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "EPCISReceiver") ? "active" : "")">
                                    <a href="@Url.Action("EPCISReceiver", "EPCIS") ">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.EPCISReceiverIndex)</span>
                                    </a>
                                </li>
                            </ul>

                        </li>
                    }
                    @if (User.permissions.Contains("Reports"))
                    {
                        <li class="has-sub root-level @(ViewContext.RouteData.Values["Controller"].ToString() == "Reports" ? "active opened" : "")">
                            <a href="@Url.Action("Index", "Report")">
                                <i class="entypo-doc-text"></i>
                                <span class="title"> @Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemRpts)</span>
                            </a>
                            <ul @(ViewContext.RouteData.Values["Controller"].ToString() == "Reports" ? "class='visible'" : "style='opacity: 0.2; height: 0px;'")>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Jobs") ? "active" : "")">
                                    <a href="@Url.Action("Jobs", "Reports") ">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemRptsBatchs)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" id="btnNavLoadProductsDetails">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemRptsProds)</span>
                                    </a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Trails") ? "active" : "")">
                                    <a href="@Url.Action("Trails", "Reports") ">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemRptsAuditTrls)</span>
                                    </a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "UserStatus") ? "active" : "")">
                                    <a href="@Url.Action("UserStatus", "Reports") ">
                                        <span class="title">@Html.Label(TnT.LangResource.GlobalRes.cmnMenuItemRptsUser)</span>
                                    </a>
                                </li>
                            </ul>

                        </li>
                    }
                </ul>

            </div>
            <div class="logo" style="bottom:0; text-align:center;">

                <img src="@Url.Content("~/Content/assets/images/PACKi.png")" style="width: 50%;" alt="PACKi Track and Trace" />
            </div>
            <div style="padding-left: 25%;">
                <label style="color:white;font-size:8px">Version:PACKiTRACKnTRACE_PS 2.0.0</label>
            </div>
        </div>

        <div class="main-content">
            <div class="row">
                <div style="float: left; margin-left: 16px;">
                    <img src="@Url.Content("~/Content/assets/images/propix_2.png")" style="width: 50%;" alt="" />
                </div>
                <!-- Profile Info and Notifications -->
                <div style="float:right">
                    <ul class="user-info pull-left pull-none-xsm">

                        <li class="dropdown language-selector">

                            @TnT.LangResource.GlobalRes.HomeIndexLanguage
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true" aria-expanded="false">
                                @{

                                    string lang = "";
                                    HttpCookie cookie = HttpContext.Current.Request.Cookies["Language"];
                                    if (cookie != null)
                                    {
                                        lang = cookie.Value;
                                    }
                                    else
                                    {
                                        lang = "de";
                                    }
                                }
                                @*@lang.ToString();*@
                                @if (lang == "en")
                                {	  <img src="@Url.Content("~/Content/assets/images/flags/flag-uk.png")" width="16" height="16" id="img">       }
                                else if (lang == "de")
                                { 	  <img src="@Url.Content("~/Content/assets/images/flags/flag-de.png")" width="16" height="16" id="img">       }

                                else
                                {
                                    <img src="@Url.Content("~/Content/assets/images/flags/flag-uk.png")" width="16" height="16" id="img">
                                }


                            </a>

                            <ul class="dropdown-menu pull-right" style="margin-right:0px;">

                                <li class="@((lang == "en") ? "active" : "")">
                                    <a href="@Url.Action("Change", "Home", new { LanguageAbbrevation = "en" })">
                                        <img src="@Url.Content("~/Content/assets/images/flags/flag-uk.png")" width="16" height="16">
                                        <span>English</span>
                                    </a>
                                </li>
                                <li class="@((lang == "de") ? "active" : "")">
                                    <a href="@Url.Action("Change", "Home", new { LanguageAbbrevation = "de" })">
                                        <img src="@Url.Content("~/Content/assets/images/flags/flag-de.png")" width="16" height="16">
                                        <span>German</span>
                                    </a>
                                </li>

                                @*<li>
                                        <a href="@Url.Action("Change","Home", new { LanguageAbbrevation = "sp"})">
                                            <img src="~/Content/assets/images/flags/flag-es.png" width="16" height="16">
                                            <span>Spanish</span>
                                        </a>
                                    </li>*@
                            </ul>

                        </li>


                        <!-- Profile Info -->
                        <li class="profile-info dropdown">
                            <!-- add class "pull-right" if you want to place this from right -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!--<img src="~/Content/assets/images/thumb-1@2x.png" alt="" class="img-circle" width="44" />-->
                                @if (User == null)
                                {
                                    Response.Redirect("~/");
                                }
                                else
                                {
                                    <label>@TnT.LangResource.GlobalRes.HomeIndexWelcome @User.FirstName</label>
                                }

                            </a>
                        </li>
                        <li class="sep" style="margin-top:3px">| &nbsp;</li>
                        <li style="margin-top:3px">
                            @{int i = Convert.ToInt32(User.ID); }
                            @Html.ActionLink(TnT.LangResource.GlobalRes.UsersEdit, "ChangePassword", "Settings")
                        </li>
                        <li class="sep" style="margin-top:3px">| &nbsp;</li>
                        <li style="margin-top:3px">
                            @Html.ActionLink(TnT.LangResource.GlobalRes.cmnBtnLogout, "LogOut", "Account") <i class="entypo-logout right"></i>

                        </li>
                    </ul>
                </div>
            </div>
            <hr style="margin-top:2px; margin-bottom: 2px" />
            @RenderBody()
        </div>




    </div>

    <script src="~/Content/assets/js/neon-custom.js"></script>
    <!-- Imported styles on this page -->
    <link rel="stylesheet" href="~/Content/assets/js/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="~/Content/assets/js/rickshaw/rickshaw.min.css">
    <!-- Bottom scripts (common) -->
    <script src="~/Content/assets/js/gsap/TweenMax.min.js"></script>
    <script src="~/Content/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>

    <script src="~/Content/assets/js/joinable.js"></script>
    <script src="~/Content/assets/js/resizeable.js"></script>
    <script src="~/Content/assets/js/neon-api.js"></script>
    <script src="~/Content/assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>

    <!-- Imported scripts on this page -->
    <script src="~/Content/assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js"></script>
    <script src="~/Content/assets/js/jquery.sparkline.min.js"></script>
    <script src="~/Content/assets/js/rickshaw/vendor/d3.v3.js"></script>
    <script src="~/Content/assets/js/rickshaw/rickshaw.min.js"></script>
    <script src="~/Content/assets/js/raphael-min.js"></script>
    <script src="~/Content/assets/js/morris.min.js"></script>

    <script type="text/javascript">
        var SelectRecord='@TnT.LangResource.GlobalRes.RptUidListSelectRecord';
        var NodataAvilable='@TnT.LangResource.GlobalRes.RptJObPartialViewNoDataAvailble';
        var ErrorOccr='@TnT.LangResource.GlobalRes.toastrCustomerCreateError';
        var SelectDate='@TnT.LangResource.GlobalRes.toastrRptTrailsSelectDate';
        var InvalidDateFormat='@TnT.LangResource.GlobalRes.RptInvalidDateFormat';
        var InvalidBatchQty='@TnT.LangResource.GlobalRes.toastrScriptInvalidBatchQuantity';
        ////var CloseBatch = '@TnT.LangResource.GlobalRes.cmnMenuItemBatchMasterSubItemCloseBatch';
        // var Next='@TnT.LangResource.GlobalRes.cmnWizardBtnNext';
        //var Previous='@TnT.LangResource.GlobalRes.cmnWizardBtnPrevious';
        //var Search='@TnT.LangResource.GlobalRes.JobBatchManagerSrch';
        // var NoRerdFound='@TnT.LangResource.GlobalRes.ProductNoMatchRecordFound';
        // var ShowingEntries='@TnT.LangResource.GlobalRes.ProductShowingREsultEntries';
        // var Filterfrm='@TnT.LangResource.GlobalRes.ProductShowingFilterFrm';
        //  var totalentries='@TnT.LangResource.GlobalRes.ProductShowingTotalEntries';
        // var showing='@TnT.LangResource.GlobalRes.ProductShowing';
        // var entries='@TnT.LangResource.GlobalRes.Productentries';
        // var NoDtaInTable='@TnT.LangResource.GlobalRes.JobBatchMangrNoDataAvailbleInTbl';
        var PropInspector='@TnT.LangResource.GlobalRes.LblLytDsgPropInspe';
        var AddImge='@TnT.LangResource.GlobalRes.LblLytDsgAddImage';
        var InsertImage='@TnT.LangResource.GlobalRes.toastrSelectImge';
        var tool='@TnT.LangResource.GlobalRes.LbllytDsgTools';
        var sdegfile='@TnT.LangResource.GlobalRes.toastrSaveDesignFile';
        var lblsaved='@TnT.LangResource.GlobalRes.toastrLblSaveSucc';
        var newbtn='@TnT.LangResource.GlobalRes.LbllytDsgBtnNew';
        var discard='@TnT.LangResource.GlobalRes.toastralblLytDsgDiscard';
        var save='@TnT.LangResource.GlobalRes.cmnBtnSave';
        var savelbl='@TnT.LangResource.GlobalRes.toastralblLytDsgsavelbl';
        var print='@TnT.LangResource.GlobalRes.cmnBtnPrint';
        var load='@TnT.LangResource.GlobalRes.cmnbtnLoad';
        var DataCourrpt='@TnT.LangResource.GlobalRes.toastrinputdtaCorrupt';
        var Filename='@TnT.LangResource.GlobalRes.lblLytDsgFileName';
        var printerip='@TnT.LangResource.GlobalRes.lblLytDsgPrinterIp';
        var plsamplelbl='@TnT.LangResource.GlobalRes.toastrPlsSampleLbl';
        var providePrinter='@TnT.LangResource.GlobalRes.toastrprovidePrinter';
        var PrinternotConnected='@TnT.LangResource.GlobalRes.toastrprinterNtConnected';
        var errorprint='@TnT.LangResource.GlobalRes.toastrerrorprint';
        var selectLbl='@TnT.LangResource.GlobalRes.toastrProductCreateselectlabel';
        var SeelectDpi='@TnT.LangResource.GlobalRes.ShwMsgLblLytDsgSelectDpi';
        var SelectOrientation='@TnT.LangResource.GlobalRes.ShwMsgLblLytDsgSelectOrientation';
        var errormsgoccured='@TnT.LangResource.GlobalRes.toastrerrwhileSavingFile';
        var Label='@TnT.LangResource.GlobalRes.LblLytDsgLabel';
        //var SelectYr='@TnT.LangResource.GlobalRes.LblLytDsgSelectYr';
        // var SelectYr = '@Html.Raw(TnT.LangResource.GlobalRes.LblLytDsgSelectYr)';

        //var DriverName='@TnT.LangResource.GlobalRes.EPCISDriverName';
        var hiddenn='@TnT.LangResource.GlobalRes.LblLytDsgHidden';
        var barcode='@TnT.LangResource.GlobalRes.LblLytDsgBarcode';
        var Rect='@TnT.LangResource.GlobalRes.LblLytDsgRectangle';
        var LblSize='@TnT.LangResource.GlobalRes.LblLytDsgLblSize';
        var dpi='@TnT.LangResource.GlobalRes.LblLytDsgLblDPI';
        var Heigth='@TnT.LangResource.GlobalRes.LblLytDsgheigth';
        var width='@TnT.LangResource.GlobalRes.LblLytDsgWidth';
        var orentation='@TnT.LangResource.GlobalRes.LblLytDsgOrientation';
        var portait='@TnT.LangResource.GlobalRes.LblLytDsgOrienPortait';
        var landscpe='@TnT.LangResource.GlobalRes.LblLytDsgOrienLandscape';
        var Labels='@TnT.LangResource.GlobalRes.LblLytDsgLabels';
        @*var imagealert='@TnT.LangResource.GlobalRes.LblLytDsgImageAlert';
        var img='@TnT.LangResource.GlobalRes.LblLtyDsgImage';*@
        @*
        var SecBarcode='@TnT.LangResource.GlobalRes.LblLtyDsgSecBarcode';
        var SerialBarcode='@TnT.LangResource.GlobalRes.LblLtyDsgSerializedBarcode';
        var NonSerBarcode='@TnT.LangResource.GlobalRes.LblLtyDsgNonSerializedBarcode';*@
        @*var Batch='@TnT.LangResource.GlobalRes.DAVAIndexSelectOptionBatch';
        var product='@TnT.LangResource.GlobalRes.DAVAIndexSelectOptionProduct';*@
        var BatchStat='@TnT.LangResource.GlobalRes.RptJobBatchStats';
        var Good='@TnT.LangResource.GlobalRes.RptcmnGood';
        var Bad='@TnT.LangResource.GlobalRes.RptJobBad';
        var Decomm='@TnT.LangResource.GlobalRes.JobsDecommisionedBtnDecommission';
        var img='@TnT.LangResource.GlobalRes.LblLtyDsgImage';
    </script>
    <script>
        var ResourcesKey ={
            SelectYr:'@TnT.LangResource.GlobalRes.LblLytDsgSelectYr',
            CloseBatch: '@TnT.LangResource.GlobalRes.cmnMenuItemBatchMasterSubItemCloseBatch',
            Batch:'@TnT.LangResource.GlobalRes.DAVAIndexSelectOptionBatch',
            product:'@TnT.LangResource.GlobalRes.DAVAIndexSelectOptionProduct',
            Next:'@TnT.LangResource.GlobalRes.cmnWizardBtnNext',
             Previous:'@TnT.LangResource.GlobalRes.cmnWizardBtnPrevious',
         Search:'@TnT.LangResource.GlobalRes.JobBatchManagerSrch',
         NoRerdFound:'@TnT.LangResource.GlobalRes.ProductNoMatchRecordFound',
         ShowingEntries:'@TnT.LangResource.GlobalRes.ProductShowingREsultEntries',
         Filterfrm:'@TnT.LangResource.GlobalRes.ProductShowingFilterFrm',
         totalentries:'@TnT.LangResource.GlobalRes.ProductShowingTotalEntries',
         showing:'@TnT.LangResource.GlobalRes.ProductShowing',
         entries:'@TnT.LangResource.GlobalRes.Productentries',
            NoDtaInTable:'@TnT.LangResource.GlobalRes.JobBatchMangrNoDataAvailbleInTbl',
            BatchCnt:'@TnT.LangResource.GlobalRes.HomeIndexLineWiseBatchCnt',
        show:'@TnT.LangResource.GlobalRes.ProductShow',
        };
    </script>
    <!-- JavaScripts initializations and stuff -->


    @if ((ViewContext.RouteData.Values["Action"].ToString() != "CloseJob"))
    {
        <script src="~/Content/assets/js/datatables/datatables.js"></script>
    }
    <script src="~/Content/assets/js/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Content/assets/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/jquery.inputmask.bundle.js"></script>


    <script src="~/Content/assets/js/bootstrap-switch.min.js"></script>
    <script src="~/Content/assets/js/jquery.multi-select.js"></script>


    <!-- Demo Settings -->
    <script src="~/Content/assets/js/neon-demo.js"></script>
    <script src="~/Content/assets/popup/js/jquery.backstretch.min.js"></script>
    <script src="~/Content/assets/popup/js/scripts.js"></script>

    <script src="~/Content/assets/js/jquery.rowspanizer.js"></script>
    @if ((ViewContext.RouteData.Values["Controller"].ToString() == "LblLytDsg"))
    {
        <script language="javascript" type="text/javascript" src="~/Content/designer/jquery-ui-1.9.2/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="~/Content/designer/jquery-ui-1.9.2/themes/smoothness/jquery-ui.css">
        <script language="javascript" type="text/javascript" src="~/Content/designer/js/lindell-barcode/JsBarcode.all.min.js"></script>
        <script language="javascript" type="text/javascript" src="~/Content/designer/js/tools/barcode.js"></script>
        <script language="javascript" type="text/javascript" src="~/Content/designer/js/tools/image.js"></script>
        <script language="javascript" type="text/javascript" src="~/Content/designer/js/labelControls/GenerateZPL.js"></script>
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('focus', ':input', function () {
                $(this).attr('autocomplete', 'off');
            });
        });

        document.onkeydown = function (e) {
            if (e.ctrlKey && e.keyCode == 83) {
                return false;
            } else {
                return true;
            }
        };
    </script>

    @if ((ViewContext.RouteData.Values["Action"].ToString() != "CloseJob"))
    {
        <script type="text/javascript">

            jQuery(document).ready(function ($) {
                var $table1 = jQuery('#table-1');
                $table1.DataTable({
                    "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "bStateSave": true
                });
                $table1.closest('.dataTables_wrapper').find('select').select({
                    minimumResultsForSearch: -1
                });

                $('.datepicker').datepicker({ format: "dd/mm/yyyy", autoclose: true });



            });

        </script>
    }

    @if ((ViewContext.RouteData.Values["Controller"].ToString() == "Product") && (ViewContext.RouteData.Values["Action"].ToString() == "Import"))
    {
        <script type="text/javascript">

            debugger;
            $(document).ready(function () {
                $('#table-1').dataTable({
                    "bDestroy": true
                }).fnDestroy();

                $('#table-1').DataTable({
                    "scrollX": true,
                    "scrollY": "200px",
                    "paging": false,
                    "bDestroy": true,
                });
            });
        </script>
    }


    @if ((ViewContext.RouteData.Values["Controller"].ToString() == "Jobs") && (ViewContext.RouteData.Values["Action"].ToString() == "Edit"))
    {
        <script type="text/javascript">

            $("#MfgDate").datepicker({ format: "dd/mm/yyyy", autoclose: true }).on('changeDate', function (selected) {
                $('#ExpDate').datepicker('setStartDate', '@Model.MfgDate');
            });

            $('#ExpDate').datepicker({ format: "dd/mm/yyyy", autoclose: true }).on('changeDate', function (selected) {
                $("#MfgDate").datepicker('setEndDate', '@Model.ExpDate');
            });
            $("#MfgDate").datepicker('setEndDate', '@Model.ExpDate');
            $('#ExpDate').datepicker('setStartDate', '@Model.MfgDate');

        </script>
    }

    @if (TempData["Success"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#modal-msg').html('@TempData["Success"]');
                $("#showMSGBx").trigger("click");
            });
        </script>
        @TempData.Remove("Success");
    }

    @if (TempData["Error"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#modal-msg').html('@TempData["Error"]');

                $("#showMSGBx").trigger("click");
            });
        </script>
        @TempData.Remove("Success");
    }
    <button style="display:none;" id="showProductlblPreview" class="myBtn" type="button" data-toggle="modal" data-target="#modal-ProductlblPreview">test </button>
    <button style="display:none;" id="showMSGBx" class="myBtn" type="button" data-toggle="modal" data-target="#modal-msgBox">test </button>
    <button style="display:none;" id="showDigitalBx" class="myBtn1" type="button" data-toggle="modal" data-target="#modal-Digital">DIGTAL </button>
    <button style="display:none;" id="showRPTBx" class="myBtn" type="button" data-toggle="modal" data-target="#modal-rpt">RPT </button>
    <div class="modal fade" id="modal-msgBox">
        <div class="modal-dialog">
            <div class="modal-content" style="border: 2px solid #F44336;">
                <div class="modal-header">

                    <h3 style="font-weight: bold;" class="modal-title">PACKi TRACKnTRACE</h3>
                </div>
                <div class="modal-body" style="height: 65px;">
                    <div>
                        <div class="col-md-2" style="color: #00BCD4;font-size: 38px;">
                            <i class="entypo-info-circled"></i>
                        </div>
                        <div id="modal-msg" class="col-md-10" style="text-align: left;margin-top: 13px;color: #000;font-size: 20px;">

                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="text-align: right;border-top: none;">
                    <button type="button" class="btn btn-red" data-dismiss="modal">
                        @TnT.LangResource.GlobalRes.cmnBtnClose
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade custom-width" id="modal-rpt">
        <div class="modal-dialog" style="width: 92%;">
            <div class="modal-content">
                <div class="modal-body" style="padding: 0;">
                    <div id="modal-rpt-data" class="col-md-12" style="text-align: left;margin-top: 13px;color: #000;font-size: 12px;">
                    </div>

                </div>

                <div class="modal-footer" style="text-align:center;">

                    @*<button type="button" id="btnPDFRPT" class="btn btn-default">Export PDF</button>*@

                    @*<button type="button" id="btnPrintRPT" class="btn btn-blue btn-icon icon-left">
                            @TnT.LangResource.GlobalRes.cmnBtnPrint
                            <i class="entypo-print"></i>
                        </button>*@

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade custom-width" id="modal-Digital">
        <div class="modal-dialog" style="width: 45%;border: 2px solid #F44336;">
            <div class="modal-content">
                <div class="modal-body" style="padding: 0;">
                    <div id="modal-Digital-Sign" class="col-md-12" style="text-align: left;margin-top: 13px;color: #000;font-size: 12px;">

                    </div>

                </div>

                <div class="modal-footer" style="text-align:center;">

                    @*<button type="button" id="btnPDFRPT" class="btn btn-default">Export PDF</button>*@

                    @*<button type="button" id="btnPrintRPT" class="btn btn-blue btn-icon icon-left">
                            @TnT.LangResource.GlobalRes.cmnBtnPrint
                            <i class="entypo-print"></i>
                        </button>*@

                </div>
            </div>
        </div>
    </div>
    <form id="frmRPTPost" action="PrintReport" method="post">
        <input type="hidden" value="" name="reportData" id="reportData" />
    </form>


    <div class="modal fade custom-width" id="modal-ProductlblPreview">
        <div class="modal-dialog" style="width: 92%;">
            <div class="modal-content">
                <div class="modal-body" id="ProductlblPreview_content" style="padding: 0;">
                    <h3>@TnT.LangResource.GlobalRes.cmnMenuItemLabelPrivw...</h3>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none;" class="loading">Loading&#8230;</div>

    @RenderSection("DocPB", required: false)

    <script src="~/Content/assets/js/printThis.js"></script>
    <script>


        $("#btnClose").click(function () {
            $(".loading").hide();
        });
        //Get Report : Product Details
        $("#btnNavLoadProductsDetails").click(function () {
            var k = "1";

            //alert("adsf");
            $.ajax({

                url: '@(Url.Action("ProductDetails", "Reports"))',
                type: "POST",
                dataType: 'json',
                data: { "k": k },
                success: function (data) {
                    $('#modal-rpt-data').html(data);
                    $("#showRPTBx").trigger("click");
                },
                error: function (data) {

                    toastr.warning("@TnT.LangResource.GlobalRes.toastrCustomerCreateError");

                }
            });
        });


        $("#btnNavAvaliableSerialNo").click(function () {
            var k = "1";

            //alert("adsf");
            $.ajax({

                url: '@(Url.Action("SerailNoCount", "Reports"))',
                type: "POST",
                dataType: 'json',
                success: function (data) {
                    if (data == "No Data") {
                        $('#modal-msg').html('@TnT.LangResource.GlobalRes.RptJObPartialViewNoDataAvailble');
                        $("#showMSGBx").trigger("click");
                    }
                    else {
                        $('#modal-rpt-data').html(data);
                        $("#showRPTBx").trigger("click");
                    }
                }
            });
        });

        $("#btnNavTlinkRequest").click(function () {


            //alert("adsf");
            $.ajax({

                url: '@(Url.Action("TlinkRequest", "Reports"))',
                type: "POST",
                dataType: 'json',
                success: function (data) {
                    if (data == "@TnT.LangResource.GlobalRes.toastrLblLytDsgNoData") {
                        $('#modal-msg').html('@TnT.LangResource.GlobalRes.RptJObPartialViewNoDataAvailble');
                        $("#showMSGBx").trigger("click");
                    }
                    else {
                        $('#modal-rpt-data').html(data);
                        $("#showRPTBx").trigger("click");
                    }
                },
                error: function (data) {

                    toastr.warning("@TnT.LangResource.GlobalRes.toastrCustomerCreateError");

                }
            });
        });






        $("#btnNavUnusedSrNo").click(function () {

            $.ajax({

                url: '@(Url.Action("UnusedSrNo", "Reports"))',
                type: "POST",
                dataType: 'json',
                success: function (data) {

                    if (data == "No Data") {
                        $('#modal-msg').html('@TnT.LangResource.GlobalRes.RptJObPartialViewNoDataAvailble');
                        $("#showMSGBx").trigger("click");
                    }
                    else {
                        $('#modal-rpt-data').html(data);
                        $("#showRPTBx").trigger("click");
                    }
                },
                error: function (data) {

                    toastr.warning("@TnT.LangResource.GlobalRes.toastrCustomerCreateError");

                }
            });
        });

        $("#btnPrintRPT").click(function () {
            //var w = window.open();
            //var html = '<link rel="stylesheet" href="~/">';
            // html += $("#rptLoaded").html();
            // var w = $("#rptLoaded").html();
            //$(w.document.body).html(html);
            //window.print();

            $("#rptLoaded").printThis({
                debug: false,
                importCSS: true,
                importStyle: false,
                printContainer: true,
                loadCSS: "~/Content/assets/css/bootstrap.css",
                pageTitle: "",
                removeInline: false,
                printDelay: 333,
                header: null,
                base: false,
                formValues: false
            });
        });
    </script>
    <script>


        $("#btnPDFRPT").click(function () {
            debugger;
            var reportData = $("#modal-rpt-data").html();
            $("#reportData").val(reportData);
            document.getElementById("frmRPTPost").submit();

            $.ajax({

                url: 'PrintReport',
                type: "POST",
                dataType: 'json',
                data: { "reportData": reportData },
                success: function (data) {
                    console.log(data);
                },
                error: function (data) {

                    toastr.warning("@TnT.LangResource.GlobalRes.toastrCustomerCreateError");

                }
            });
        });

        function loadLabels() {
            $.get("BindZPLFiles", function (data) {
                $('.ZPLlblCls').append('<option value="">@TnT.LangResource.GlobalRes.JobCreateDrpLabel</option>');
                $.each(data.split(','), function (key, value) {
                    $('.ZPLlblCls').append('<option value="' + value + '">' + value.slice(0, -4) + '</option>');
                });
            });
        }
        @{
            var secs = Convert.ToInt32(@Utilities.getAppSettings("UpdateUserTimeInSec"));
            TimeSpan spn = new TimeSpan(0, 0, secs);
        }
        window.setInterval(function () {
            updateUserData();
        },@spn.TotalMilliseconds);


        function updateUserData() {

            $.ajax({
                url: '@(Url.Action("updateUData", "Account"))',
                type: "POST",
                dataType: 'json'
            });
        }
    </script>
</body>


</html>
