@model IEnumerable<TnT.Models.Job.Job>

@{
    ViewBag.Title = "Jobs";
    //if (User.roles == 5)
    //{
    Layout = "~/Views/Home/_Layout.cshtml";
    //}
    //else if (User.roles == 8)
    //{
    //    Layout = "~/Views/QAHome/_Layout.cshtml";
    //}
    //else
    //{
    //    FormsAuthentication.SignOut();
    //}
}


<h2>
    @TnT.LangResource.GlobalRes.JobsDecommissionedBatches
</h2>

@if (Model.Count() == 0)
{
    <br />
    <br />
    <br />
    <h3 style="color:forestgreen">@TnT.LangResource.GlobalRes.JobDecommissionedLstNoBatch</h3>
}
else
{
    <table class="table table-bordered datatable" id="table-1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.JobName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BatchNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @TnT.LangResource.GlobalRes.JobsIndexAction
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>

                <td>
                    <a href='@Url.Action("Decommisioned","Jobs", new {JobId = item.JID})' class="btn btn-green btn-icon">@TnT.LangResource.GlobalRes.SOMIndexView <i class="entypo-check"></i></a>               
                </td>
            </tr>
        }

    </table>
}




