@model TnT.Models.Compliance.ComplianceViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>
    @TnT.LangResource.GlobalRes.ComplianceEdit
    <a style="float: right; margin-right: 5px;" href='@Url.Action("Index","Compliance")' class="btn btn-danger btn-icon icon-left">
        @TnT.LangResource.GlobalRes.cmnBtnBackToList
        <i class="fa fa-reply"></i>
    </a>

</h2>
@using (Html.BeginForm("Edit/" + Model.ID, "Compliance", FormMethod.Post, new { @id = "frmRoles" }))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ComplianceName)
        <div class="form-group">
            @Html.LabelFor(model => model.ComplianceName, htmlAttributes: new { @class = "control-label col-md-2 popover-default", @data_toggle = "popover", @data_trigger = "hover", data_placement = "top", @data_content = TnT.LangResource.GlobalRes.ToolTipRoleName, @data_original_title = "Field Information" })
            <div class="col-md-10" style="padding-top: 8px;">
                @Html.DisplayFor(model => model.ComplianceName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ComplianceName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fields, htmlAttributes: new { @class = "control -label col-md-2 popover-default", style = "margin-left: 75px;", @data_toggle = "popover", @data_trigger = "hover", data_placement = "top", @data_content = TnT.LangResource.GlobalRes.ToolTipRolePermission, @data_original_title = "Field Information" })
            <div class="col-md-10" style="margin-left: 164px;margin-top: -27px;">
                <div>
                    @if (ViewData.ModelState.IsValidField("NoPermission") == false)
                    {
                        <div class="text-danger bold">@TnT.LangResource.GlobalRes.ComplianceEditprovidefields</div>
                    }

                </div>

                @for (int i = 0; i < Model.fields.Count(); i++)
                {
                    var role = Model.fields[i];
                    @Html.HiddenFor(model => model.fields[i].Id)
                    @Html.HiddenFor(model => model.fields[i].FieldName)
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.fields[i].IsChecked)
                                @Html.DisplayFor(model => model.fields[i].FieldName, role.FieldName)
                            </label>
                        </div>
                    </div>
                }


            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" id="btnSubmit" value="@TnT.LangResource.GlobalRes.cmnBtnSave" class="btn btn-info" />
                </div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                var Roles_Name = $("#ComplianceName").val();
                var count = $("[type='checkbox']:checked").length;
                var mss = "";
                if (Roles_Name == "") {
                    mss = "@TnT.LangResource.GlobalRes.toastrRoleCreateRName";
                    toastr.warning("@TnT.LangResource.GlobalRes.toastrComplianceEditProvideName");
                    $("#ComplianceName").css("border", "red 1px solid");
                    return false;
                }

                if (count == 0) {
                    mss = "@TnT.LangResource.GlobalRes.toastrComplianceEditSelect";
                    toastr.warning("@TnT.LangResource.GlobalRes.toastrComplianceEDitSelectFields");
                    return false;
                }

                if (mss == "") {
                    document.getElementById("frmRoles").submit();
                }

            });
            $("#ComplianceName").change(function () {
                $("#ComplianceName").css("border", "green 1px solid");
            });
        });
    </script>
}


