@model TnT.Models.Customer.M_Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>
   @TnT.LangResource.GlobalRes.cmnDetailsOf @Model.CompanyName
    <a style="float: right; margin-right: 5px;" href='@Url.Action("Index","Customer")' class="btn btn-danger btn-icon icon-left">
       @TnT.LangResource.GlobalRes.cmnBtnBackToList
        <i class="fa fa-reply"></i>
    </a>
    


</h2>

<div>

    <div class="dl-horizontal">

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label col-md-4" for="Provider">@TnT.LangResource.GlobalRes.M_VendorProvider </label>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.Proivder.Name)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    <label class="control-label col-md-4" for="IsSSCC">@TnT.LangResource.GlobalRes.M_VendorProvidingSSCC</label>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.IsSSCC)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.CompanyName)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.ContactPerson)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.ContactNo)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.Email)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.Address)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.M_Country.CountryName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.M_Country.CountryName)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.M_State.StateName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.M_State.StateName)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.city)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.street1, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.street1)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.street2, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.street2)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.postalCode, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.postalCode)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.CompanyCode, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.CompanyCode)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.APIKey, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.APIKey)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.APIUrl, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.APIUrl)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.SenderId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.SenderId)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.ReceiverId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.ReceiverId)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.BizLocGLN, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.BizLocGLN)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.BizLocGLN_Ext, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.BizLocGLN_Ext)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.License, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.License)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.LicenseAgency, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.LicenseAgency)
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.LicenseState, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.LicenseState)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.IsActive)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.CreatedOn, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.CreatedOn)
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.LastModified, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.LastModified)
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Host, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.Host)
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.HostUser, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.HostUser)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.HostPort, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.HostPort)
                </div>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="form-group">
                @Html.LabelFor(model => model.HostPswd, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.HostPswd)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.SSCCExt, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.SSCCExt)
                </div>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="form-group">
                @Html.LabelFor(model => model.LoosExt, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.LoosExt)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ToCorpID, TnT.LangResource.GlobalRes.CustomerCreateToCorpId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.ToCorpID)
                </div>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="form-group">
                @Html.LabelFor(model => model.FilterValue, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.FilterValue)
                </div>
            </div>
        </div>
    </div>
</div>
        
        <div class="row">
           
            <div class="col-lg-6">

            </div>

        </div>
        

        

    </div>
</div>

