@model IEnumerable<TnT.Models.Product.PackagingAsso>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Home/_Layout.cshtml";
}

@if (ViewData["Message"] != null)
{   <div><h4> @TnT.LangResource.GlobalRes.MsgLblLytDsgFileSaveed </h4></div> }


<h2>
    @TnT.LangResource.GlobalRes.ProductIndex
    @if (User.permissions.Contains("Create Product"))
    {
        <a style="float: right; margin-right: 5px;" href='@Url.Action("Create", "Product")' class="btn btn-info btn-icon icon-left">
            @TnT.LangResource.GlobalRes.ProductIndexBtnCreateProduct
            <i class="fa fa-server"></i>
        </a>
    }
</h2>


<table class="table table-bordered datatable" id="table-1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FGCode)
            </th>

            <th>
                @TnT.LangResource.GlobalRes.JobsIndexAction
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FGCode)
            </td>

            <td>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                        @TnT.LangResource.GlobalRes.JobsIndexAction <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        @if (User.permissions.Contains("Product Master"))
                        {
                            <li>
                                <a class="tooltip-primary" data-toggle="tooltip" data-placement="top" title data-original-title="@TnT.LangResource.GlobalRes.SOMIndexView" href='@Url.Action("Details", "Product", new { id = item.PAID })'> <i class="entypo-doc-text-inv"></i> @TnT.LangResource.GlobalRes.SOMIndexView</a>
                            </li>
                        }
                        @if (User.permissions.Contains("Edit Product"))
                        {
                            <li>
                                <a class="tooltip-primary" data-toggle="tooltip" data-placement="top" title data-original-title="@TnT.LangResource.GlobalRes.SOMIndexEdit" href='@Url.Action("Edit","Product",  new {id = item.PAID})'> <i class="entypo-pencil"></i> @TnT.LangResource.GlobalRes.SOMIndexEdit</a>
                            </li>
                        }
                        @*<li>
                                <a class="tooltip-primary" data-toggle="tooltip" data-placement="top" title data-original-title="Delete" href='@Url.Action("Delete","Product",  new {id = item.PAID})'> <i class="entypo-trash"></i> Delete</a>
                            </li>*@
                    </ul>
                </div>
            </td>

        </tr>
    }

</table>
