@model TnT.Models.Tracelink.TLFileExportsViewModel
@{
    ViewBag.Title = "Export Files";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>@TnT.LangResource.GlobalRes.TracelinkExportFiles</h2>
<hr />

<div class="row">

    <div class="col-lg-6">
       @using (Html.BeginForm("Generate", "Tracelink", FormMethod.Post))
       {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <div class="form-group">
                @*<label class="control-label col-md-2"> Batch No </label>*@
                @Html.LabelFor(model => model.JobId, new { @class = "control-label col-md-2 popover-default", @data_toggle = "popover", @data_trigger = "hover", data_placement = "top", @data_content = TnT.LangResource.GlobalRes.ToolTipExportBatchNo, @data_original_title = "Field Information" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.JobId, new SelectList(ViewBag.Batches, "JID", "BatchNo"), @TnT.LangResource.GlobalRes.RptJobFilterSelectBatch, new { @class = "form-control", @validate = "true" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FileType, new { @class = "control-label col-md-2 popover-default", @data_toggle = "popover", @data_trigger = "hover", data_placement = "top", @data_content = TnT.LangResource.GlobalRes.ToolTipExportFileType, @data_original_title = "Field Information" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.FileType, new SelectList(ViewBag.Type), @TnT.LangResource.GlobalRes.JobCreateDrpType, new { @class = "form-control", @validate = "true" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsMoc, new { @class = "control-label col-md-2 popover-default", @data_toggle = "popover", @data_trigger = "hover", data_placement = "top", @data_content = TnT.LangResource.GlobalRes.ToolTipExportFileType, @data_original_title = "Field Information" })
                <div class="col-md-10" style="padding-top:4px">
                    @Html.CheckBoxFor(model => model.IsMoc, htmlAttributes: new { @checked = "" })
                </div>
            </div>
            <div id="divSOM">
                <div class="form-group">
                    @Html.LabelFor(model => model.SOMId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SOMId, new SelectList(ViewBag.SOM,"Id","BusinessName"), @TnT.LangResource.GlobalRes.RptUidSelect, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row text-right">
                <button type="submit" class="btn btn-info btn-default" >@TnT.LangResource.GlobalRes.cmnBtnGenerate</button>
            </div>

        </div>
        }
    </div>


</div>


<script>
    $(document).ready(function () {

        $("#divSOM").hide();



        $("#FileType").change(function () {

            var fileType = $("#FileType option:selected").text();

            if (fileType == "SOM") {

                $("#divSOM").show();

            } else {
                $("#divSOM").hide();
            }
        });
    });
</script>