@model TnT.Models.Reports.Jobs.RptDtlsWithOptrViewModel
<div id="rptLoaded">
    @if (Model.JobOpretors.Count() == 0)
    {
        <h3 style="text-align:center; padding-bottom: 50px;">@TnT.LangResource.GlobalRes.RptJObPartialViewNoDataAvailble</h3>
    }
    else
    {
        <script>
            $("#btnPrintRPT").show();
        </script>
        <link rel="stylesheet" href="@Server.MapPath("~/Content/assets/css/bootstrap.css")">
        <style>
            /*@@media print {*/
            .scrollprint {
                overflow-y: inherit;
                max-height: none;
            }
            /*}*/
            .tbFont {
                font-size: 9px;
            }

            .tdWidth {
                width: 30%;
            }

            .tdWidthBig {
                width: 40%;
            }

            .tblWidth {
                width: 100%;
            }

            .pgbreak {
                page-break-inside: avoid;
            }
        </style>
        <div class="container">

            <div class="row" style="border: 1px solid; margin: 10px;">
                <div class="col-md-12">
                    <h2 style="text-align:center;">@Html.DisplayFor(model => model.CompanyName)</h2>
                    <p style="text-align:center; padding-bottom:5px;">@Html.DisplayFor(model => model.Address)</p>
                </div>
            </div>
            <div>
                <h4 style="text-align:center;"><b>@TnT.LangResource.GlobalRes.RptBatchDtlWOpr</b></h4>
            </div>
            <div class="row  rptBox @ViewBag.rptPdfBox" style="border: 1px solid;margin: 10px;padding-top: 5px; padding-bottom:5px; font-family: 'Courier New';">
                <div class="col-lg-12">
                    @TnT.LangResource.GlobalRes.RptcmnDeck = @Html.DisplayFor(model => model.Packinglevel)
                </div>

            </div>
            <div class="row" style="border: 1px solid;margin: 10px;padding: 9px;font-family: 'Courier New';">
                <table class="table table-bordered responsive @ViewBag.tbFont">
                    <tr style="font-weight:bold;">
                        <td style="text-align: center;">@TnT.LangResource.GlobalRes.TracelinkExportFilesBatchNo</td>
                        <td style="text-align: center;">@TnT.LangResource.GlobalRes.ReportsJobsValuesProductName</td>
                        <td style="text-align: center;">@TnT.LangResource.GlobalRes.JobsProductCode</td>
                        <td style="text-align: center;">@TnT.LangResource.GlobalRes.RptcmnOperator</td>
                        <td style="text-align: center;">@TnT.LangResource.GlobalRes.RptcmnGoodItems</td>
                        <td style="text-align: center;">@TnT.LangResource.GlobalRes.RptcmnBadItems</td>
                        <td style="text-align: center;">@TnT.LangResource.GlobalRes.RptcmnTotalItems</td>
                    </tr>
                    <tbody>
                        @foreach (var item in Model.JobOpretors)
                        {
                            int JobOperators = item.OperatorWorkings.Count;
                            int rowspan = JobOperators + 1;
                            <tr class="pgbreak">
                                <td rowspan="@rowspan">@item.BatchNo</td>
                                <td rowspan="@rowspan">@item.ProductName</td>
                                <td rowspan="@rowspan">@item.ProductCode</td>
                            </tr>
                            foreach (var wrk in item.OperatorWorkings)
                            {
                                <tr class="pgbreak">
                                    <td>@wrk.OperatorName</td>
                                    <td>@wrk.GoodCnt</td>
                                    @if (Model.Packinglevel == "MOC")
                                    {
                                        var bad = wrk.BadCnt + wrk.NoRead;
                                        <td>@bad</td>
                                    }
                                    else
                                    {
                                        <td>@wrk.BadCnt</td>
                                    }
                                    @if (Model.Packinglevel == "MOC")
                                    {
                                        var tot = wrk.GoodCnt + wrk.BadCnt + wrk.NoRead;
                                        <td>@tot </td>
                                    }
                                    else
                                    {
                                        var tot = wrk.GoodCnt + wrk.BadCnt;
                                        <td>@tot </td>
                                    }
                                </tr>
                            }

                        }
                    </tbody>
                </table>

            </div>

            <div style="border: 1px solid;margin: 10px;padding-top: 9px;font-family: 'Courier New';">
                <table style="width:100%;" class="@ViewBag.tbFont">
                    <tr>
                        <td style="width:50%; padding-left:10px;">
                            @TnT.LangResource.GlobalRes.RptAuditTrailsGenratedBy @Model.UserName

                        </td>
                        <td style="padding-left:35%">
                            @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss")
                        </td>
                    </tr>
                </table>
            </div>
            @if (ViewBag.scrollprint == null)
            {
                <div style="text-align:center;padding-top: 2%;">
                    @Html.DropDownListFor(x => x.Packinglevel, Model.Packaginlevels)
                </div>
                <br />

                <div style="text-align:center">
                    <button type="button" data-dismiss="modal" class="btn btn-danger btn-icon icon-left" id="btnClose" style="height:28px;">
                        @TnT.LangResource.GlobalRes.cmnBtnClose
                        <i class="entypo-cancel"></i>
                    </button>
                    @Html.ActionLink(TnT.LangResource.GlobalRes.RptGeneratePdf, "", "", null, new { @class = "btn btn-blue", @id = "btnGenaratePDFDtlWithOptr" })
                </div>
            }
            <br />
        </div>
    }
</div>
<script>
    $("#Packinglevel").change(function () {
        var existingLVL = $("#Packinglevel").val();
        $(".loading").show();
        var currentLvl = $("#lblDecklvl").html();
        var lvl = $("#Packinglevel").val();

        var FromDate = $('#JobFromCreatedDate').datepicker().val();
        var ToDate = $('#JobToCreatedDate').datepicker().val();

        if (lvl != "Select") {
            if (currentLvl != lvl) {

                $.ajax({

                    url: 'getDetailsWithOprtrRpt',
                    type: "POST",
                    dataType: 'json',
                    data: { "FromDate": FromDate, "ToDate": ToDate, "Level": lvl },
                    success: function (data) {
                        $(".loading").hide();

                        if (data == "@TnT.LangResource.GlobalRes.toastrLblLytDsgNoData") {
                            data = '<h3 style="text-align:center; padding-bottom: 50px;">@TnT.LangResource.GlobalRes.RptJObPartialViewNoDataAvailble</h3>';
                            $("#btnPrintRPT").hide();
                            $('#rptLoaded').html(data);
                        }
                        else {
                            $("#btnPrintRPT").show();
                            $('#rptLoaded').html(data);
                        }
                        $('#Packinglevel option[value=' + existingLVL + ']').attr('selected', 'selected');
                    },
                    error: function (data) {

                        toastr.warning("@TnT.LangResource.GlobalRes.toastrCustomerCreateError");

                    }
                });
            }

        }

    });

    $(document).on("click", "#btnGenaratePDFDtlWithOptr", function (e) {

        e.preventDefault();
        var lvl = $("#Packinglevel").val().trim();

        var level;

        if (lvl != "Select") {

            level = $("#Packinglevel").val().trim();

        }
        else {
            level = 'MOC';
        }

        var FromDate = $('#JobFromCreatedDate').datepicker().val();
        var ToDate = $('#JobToCreatedDate').datepicker().val();

        var newUrl = "@Url.Action("genePDFDetailsWithOprtr", "Reports")?FromDate=" + FromDate + "&ToDate=" + ToDate + "&Level=" + level;
        // you can do whatever you want with the new url
        window.location.href = newUrl;

    });
</script>
