@model TnT.Models.Reports.Jobs.RptJobWiseSSCCViewModel

<div class="container" id="rptLoaded">
    @if (Model.SSCCs.Count() == 0)
    {
        <h3 style="text-align:center; padding-bottom: 50px;">@TnT.LangResource.GlobalRes.RptJObPartialViewNoDataAvailble</h3>
    }
    else
    {
        <script>
            $("#btnPrintRPT").show();
        </script>
        <style>
            /*@@media print {*/
            .scrollprint {
                overflow-y: inherit;
                max-height: none;
            }
            /*}*/
            .tbFont {
                font-size: 9px;
            }

            .tdWidth {
                width: 30%;
            }

            .tdWidthBig {
                width: 40%;
            }

            .tblWidth {
                width: 100%;
            }
            .scrollPCTable {
    overflow-y: auto;
    max-height: 500px;
}
        </style>
        <link rel="stylesheet" href="@Server.MapPath("~/Content/assets/css/bootstrap.css")">
        <div class="row" style="border: 1px solid; margin: 10px;">
            <div class="col-md-12">
                <h2 style="text-align:center;">@Html.DisplayFor(model => model.CompanyName)</h2>
                <p style="text-align:center;">@Html.DisplayFor(model => model.Address)</p>
            </div>
        </div>
        <div>
            @if (Model.job.TID != 26)
            {
                <h4 style="text-align:center;">@TnT.LangResource.GlobalRes.RptBatchSSCCReport</h4>
            }
            else
            {
                <h4 style="text-align:center;">@TnT.LangResource.GlobalRes.RptJObwiseBatchLpnoRpt</h4>
            }
            @Html.HiddenFor(model => model.job.JID)
        </div>
        <div class="row @ViewBag.tbFont rptBox @ViewBag.rptPdfBox" style="border: 1px solid;margin: 10px;padding-top: 9px">
            <table style="width:100%" class="@ViewBag.tbFont">
                <tr>
                    <td class="col-md-6" style="width:50%">
                        <label>@TnT.LangResource.GlobalRes.ReportsJobsValuesProductName:</label>@Html.DisplayFor(model => model.jbDetail.JD_ProdName)<br />
                        <label>@TnT.LangResource.GlobalRes.TracelinkProductXmlBatchNo:</label> @Html.DisplayFor(model => model.job.BatchNo)<br />
                        <label>@TnT.LangResource.GlobalRes.RptcmnMFGDate:</label>@Html.DisplayFor(model => model.job.MfgDate)<br />
                    </td>
                    <td class="col-md-6" style="width:20%">
                        <br />
                        <label>@TnT.LangResource.GlobalRes.RptcmnJobType:</label> @Html.DisplayFor(model => model.Jobtype)<br />
                        <br />
                    </td>
                    <td class="col-md-6" style="width:40%">
                        <label>@TnT.LangResource.GlobalRes.JobsProductCode:</label>@Html.DisplayFor(model => model.jbDetail.JD_ProdCode) <br />
                        <label>@TnT.LangResource.GlobalRes.JobsBatchQty:</label>@Html.DisplayFor(model => model.job.Quantity)<br />
                        <label>@TnT.LangResource.GlobalRes.RptcmnEXPDate:</label>@Html.DisplayFor(model => model.job.ExpDate)<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="row @ViewBag.tbFont rptBox @ViewBag.rptPdfBox" style="border: 1px solid;margin: 10px;padding-top: 9px">
            <div class="col-lg-12">
                <table style="width:100%" class="@ViewBag.tbFont">
                    <tr>
                        <td class="col-lg-3">@TnT.LangResource.GlobalRes.ReportsJobsFiltersLocationCode : @Html.DisplayFor(m => m.LineDetails.LocationCode)</td>
                        <td class="col-lg-3">@TnT.LangResource.GlobalRes.ReportsJobsFiltersDivisionCode : @Html.DisplayFor(m => m.LineDetails.DivisionCode)</td>
                        <td class="col-lg-3">@TnT.LangResource.GlobalRes.ReportsJobsFiltersPlantCode : @Html.DisplayFor(m => m.LineDetails.PlantCode)</td>
                        <td class="col-lg-3">@TnT.LangResource.GlobalRes.ReportsJobsFiltersLineCode : @Html.DisplayFor(m => m.LineDetails.LineCode)</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row @ViewBag.tbFont  scrollPCTable @ViewBag.scrollprint" style="border: 1px solid;margin: 10px;padding-top: 9px; overflow-x: hidden;">
            <table class="table @ViewBag.tbFont" style="text-align: center;" >
                <tr style="font-weight:bold;">
                    <td style="text-align: center;">@TnT.LangResource.GlobalRes.RptcmnSrNo</td>
                    <td style="text-align: center;">@TnT.LangResource.GlobalRes.RptcmnPackagingDate</td>
                    <td style="text-align: center;">
                        @if (Model.job.TID != 26)
                        {
                            @TnT.LangResource.GlobalRes.RptcmnSSCC
                        }
                        else
                        {
                            <label>  @TnT.LangResource.GlobalRes.RptJObwiseSSCCLPNO</label>
                        }
                    </td>
                    <td style="text-align: center;">
                        @if (Model.job.TID != 26)
                        {
                            @TnT.LangResource.GlobalRes.RptcmnSSCCVerification
                        }
                        else
                        {
                            <label> @TnT.LangResource.GlobalRes.RptJObwiseSSCCLPNOVer</label>
                        }
                    </td>
                </tr>
                <tbody>

                    @{ int i = 1; }

                    @foreach (var item in Model.SSCCs)
                {
                        <tr class="pgbreak">
                            <td>@i</td>
                            <td>@item.PackagingDate</td>
                            <td>@item.SSCC</td>
                            <td>@item.SSCCVerification</td>
                        </tr>
                        i++;
                    }

                </tbody>
            </table>

        </div>
        <div style="border: 1px solid;margin: 10px;padding-top: 9px;">
            <table style="width:100%;" class="@ViewBag.tbFont">
                <tr>
                    <td style="width:50%; padding-left:10px;">
                       @TnT.LangResource.GlobalRes.RptAuditTrailsGenratedBy @Model.UserName

                    </td>
                    <td style="padding-left:38%">
                        @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss")
                    </td>
                </tr>
            </table>
        </div>

        <br />
                        if (@ViewBag.scrollprint == null)
                        {
                            <div style="text-align:center">
                                <button type="button" data-dismiss="modal" class="btn btn-danger btn-icon icon-left" id="btnClose" style="height:28px;">
                                    @TnT.LangResource.GlobalRes.cmnBtnClose
                                    <i class="entypo-cancel"></i>
                                </button>
                                @Html.ActionLink(TnT.LangResource.GlobalRes.RptGeneratePdf, "", "", null, new { @class = "btn btn-blue", @id = "btnGenaratePDFJobWiseSSCC" })
                            </div>
                            }
                        }
</div>



<script>
    $("#Packinglevel").change(function () {
        $(".loading").show();
        var currentLvl = $("#lblDecklvl").html().trim();
        var lvl = $("#Packinglevel").val().trim();

        if (lvl != "Select") {
            if (currentLvl != lvl) {
                var jobId = $("#job_JID").val();
                $.ajax({

                    url: 'getUIDListDataLevelWise',
                    type: "POST",
                    dataType: 'json',
                    data: { "JID": jobId, "Level": lvl },
                    success: function (data) {
                        $(".loading").hide();
                        if (data == "@TnT.LangResource.GlobalRes.toastrLblLytDsgNoData") {
                            data = '<h3 style="text-align:center; padding-bottom: 50px;">@TnT.LangResource.GlobalRes.RptJObPartialViewNoDataAvailble</h3>';
                            $("#btnPrintRPT").hide();
                            $('#rptLoaded').html(data);
                        }
                        else {
                            $("#btnPrintRPT").show();
                            $('#rptLoaded').html(data);
                        }
                        $('#rptLoaded').html(data);

                    },
                    error: function (data) {

                        toastr.warning("@TnT.LangResource.GlobalRes.toastrCustomerCreateError");

                    }
                });
            }

        }

    });

    $(document).on("click", "#btnGenaratePDFJobWiseSSCC", function (e) {

        e.preventDefault();

        var newUrl = "@Url.Action("genePDJobwiseSSCC", "Reports")?JID=" + @Model.job.JID ;
        // you can do whatever you want with the new url
        window.location.href = newUrl;

    });
</script>
