@model TnT.Models.Reports.RptUserViewModel

<link rel="stylesheet" href="@Server.MapPath("~/Content/assets/css/bootstrap.css")">
<style>
    /*@@media print {*/
    .scrollprint {
        overflow-y: inherit;
        max-height: none;
    }
    /*}*/
    .tbFont {
        font-size: 9px;
    }

    .tdWidth {
        width: 30%;
    }

    .tdWidthBig {
        width: 40%;
    }

    .tblWidth {
        width: 100%;
    }

    .rptBadUIDTbl {
        font-size: 8px;
    }

    .scrollPCTable {
        overflow-y: auto;
        max-height: 500px;
    }
</style>

<div class="container" id="rptLoaded">
    <div class="row" style="border: 1px solid; margin:10px;">
        <div class="col-md-12">
            <h2 style="text-align:center;">@Html.DisplayFor(model => model.CompanyName)</h2>
            <p style="text-align:center;">@Html.DisplayFor(model => model.Address)</p>
        </div>
    </div>
    <div>
        <h4 style="text-align:center;"><b>@TnT.LangResource.GlobalRes.RptUserReport</b></h4>
    </div>

    <div class="row" style="border: 1px solid;margin: 10px;padding-top: 9px;font-family: 'Courier New';">
        <table class="table @ViewBag.tbFont" style="text-align: center;">
            <tr style="font-weight:bold;">
                <td style="text-align: center;">@TnT.LangResource.GlobalRes.RptcmnSrNo</td>
                <td style="text-align: center;">@TnT.LangResource.GlobalRes.UsersUserName</td>
                <td style="text-align: center;">@TnT.LangResource.GlobalRes.UsersIndexUserId</td>
                <td style="text-align: center;">@TnT.LangResource.GlobalRes.RptUserRoleName</td>
                <td style="text-align: center;">@TnT.LangResource.GlobalRes.UsersIndexCreatedDate</td>
                @if (!Model.ReportType)
                {
                    <td style="text-align: center;">@TnT.LangResource.GlobalRes.RptUserDeactivatedDate</td>
                }
                <td style="text-align: center;">@TnT.LangResource.GlobalRes.RptcmnStatus</td>

            </tr>
            <tbody>

                @{
                    if (Model.UsersDetail.Count > 0)
                    {
                        int counter = 0;

                        foreach (var item in Model.UsersDetail)
                        {
                            counter++;

                            <tr>
                                <td>@counter</td>
                                <td>@item.UserName</td>
                                <td>@item.UserId</td>
                                <td>@item.RoleName</td>
                                <td>@item.CreatedDate</td>
                                @if (item.Status != "Active")
                                {
                                    <td>@item.LastUpdated</td>
                                }
                                <td>@item.Status</td>
                            </tr>

                        }
                    }
                }
            </tbody>
        </table>


    </div>

    <div style="border: 1px solid;margin: 10px;padding-top: 9px;font-family: 'Courier New';">
        <table style="width:100%;" class="@ViewBag.tbFont">
            <tr>
                <td style="width:50%; padding-left:10px;">
                    @TnT.LangResource.GlobalRes.RptAuditTrailsGenratedBy  @Model.UserName

                </td>
                <td style="padding-left:35%">
                    @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss")
                </td>
            </tr>
        </table>
    </div>

    @if (ViewBag.scrollprint == null)
    {
        <div style="text-align:center">
            <button type="button" data-dismiss="modal" class="btn btn-danger btn-icon icon-left" id="btnClose" style="height:28px;">
                @TnT.LangResource.GlobalRes.cmnBtnClose
                <i class="entypo-cancel"></i>
            </button>
            @Html.ActionLink(TnT.LangResource.GlobalRes.RptGeneratePdf, "", "", null, new { @class = "btn btn-blue", @id = "btnGenaratePDFUserDetails" })
        </div>
    }
</div>


<script>
    $(document).on("click", "#btnGenaratePDFUserDetails", function (e) {

        e.preventDefault();

        var status = "@Model.Status";

        var newUrl = "@Url.Action("genePDFUserDetails", "Reports")?Status=" + status;
        // you can do whatever you want with the new url
        window.location.href = newUrl;

    });

</script>