@model TnT.Models.Reports.Jobs.RptUIDsViewModel

<div class="container" id="rptLoaded">
    @if (Model.packagingDetails.Count() == 0)
    {
        <h3 style="text-align:center; padding-bottom: 50px;">@TnT.LangResource.GlobalRes.RptJObPartialViewNoDataAvailble</h3>
    }
    else
    {
        <link rel="stylesheet" href="@Server.MapPath("~/Content/assets/css/bootstrap.css")">
        <style>
         
            .scrollprint {
                overflow-y: inherit;
                max-height: none;
            }
         
            .tbFont {
                font-size: 9px;
            }

            .tdWidth {
                width: 30%;
            }

            .tdWidthBig {
                width: 40%;
            }

            .tblWidth {
                width: 100%;
            }
        </style>

        <script>
            $("#btnPrintRPT").show();
        </script>
        <div class="row" style="border: 1px solid; margin: 10px;">
            <div class="col-md-12">
                <h2 style="text-align:center;">@Html.DisplayFor(model => model.CompanyName)</h2>
                <p style="text-align:center;padding-bottom: 5px;">@Html.DisplayFor(model => model.Address)</p>
            </div>
        </div>
        <div>
            <h4 style="text-align:center;"><b>@TnT.LangResource.GlobalRes.ReportsJobsBatchesReportsUIDList</b></h4>
            @Html.HiddenFor(model => model.job.JID)
        </div>
      
        <div class="row @ViewBag.tbFont rptBox @ViewBag.rptPdfBox" style="border: 1px solid;margin: 10px;padding-top: 9px; font-size:14px; font-family: 'Courier New';">
            <table class="tblWidth  @ViewBag.tbFont">
                <tr>
                    <td class="col-md-4 tdWidthBig"><label>@TnT.LangResource.GlobalRes.ReportsJobsValuesProductName:</label><b> @Html.DisplayFor(model => model.jbDetails.JD_ProdName)</b></td>
                    <td class="col-md-5 tdWidth"><label>@TnT.LangResource.GlobalRes.JobsProductCode:</label><b> @Html.DisplayFor(model => model.jbDetails.JD_ProdCode)</b></td>
                    <td class="col-md-6 tdWidthBig"><label>@TnT.LangResource.GlobalRes.ReportsJobsValuesGTIN:</label> <b>@Html.DisplayFor(model => model.jbDetails.JD_GTIN)</b></td>
                </tr>
                <tr>
                    <td class="col-md-4"><label>@TnT.LangResource.GlobalRes.TracelinkExportFilesBatchNo:</label> <b>@Html.DisplayFor(model => model.job.BatchNo)</b></td>
                    <td class="col-md-5"><label>@TnT.LangResource.GlobalRes.JobsBatchQty:</label><b> @Html.DisplayFor(model => model.job.Quantity)</b></td>
                    <td class="col-md-6"><label>@TnT.LangResource.GlobalRes.RptcmnJobType:</label><b> @Html.DisplayFor(model => model.Jobtype)</b></td>
                </tr>
                <tr>
                    <td class="col-md-4"><label>@TnT.LangResource.GlobalRes.RptcmnMFGDate:</label><b> @Html.DisplayFor(model => model.job.MfgDate)</b></td>
                    <td class="col-md-5"><label>@TnT.LangResource.GlobalRes.RptcmnEXPDate:</label><b> @Html.DisplayFor(model => model.job.ExpDate)</b></td>
                    <td class="col-md-6"><label>@TnT.LangResource.GlobalRes.RptcmnDeck:</label><label id="lblDecklvl"><b> @Html.DisplayFor(model => model.jbDetails.JD_Deckcode)</b> </label></td>
                </tr>
            </table>
        </div>
        <div class="row @ViewBag.tbFont rptBox @ViewBag.rptPdfBox" style="border: 1px solid;margin: 10px;padding-top: 2px; font-size:14px; font-family: 'Courier New';padding-bottom: 2px;">
            <table class="@ViewBag.tbFont">
                <tr>
                    <td class="col-md-3" style="width:300px">@TnT.LangResource.GlobalRes.ReportsJobsFiltersLocationCode : @Html.DisplayFor(m => m.LineDetails.LocationCode)</td>
                    <td class="col-md-3" style="width:300px">@TnT.LangResource.GlobalRes.ReportsJobsFiltersDivisionCode : @Html.DisplayFor(m => m.LineDetails.DivisionCode)</td>
                    <td class="col-md-3" style="width:300px">@TnT.LangResource.GlobalRes.ReportsJobsFiltersPlantCode : @Html.DisplayFor(m => m.LineDetails.PlantCode)</td>
                    <td class="col-md-3" style="width:300px">@TnT.LangResource.GlobalRes.ReportsJobsFiltersLineCode : @Html.DisplayFor(m => m.LineDetails.LineCode)</td>
                </tr>
            </table>
        </div>
            <div class="row @ViewBag.tbFont scroll1 @ViewBag.scrollprint" style="border: 1px solid;margin: 10px;padding-top: 9px;">
                <table class="table tblsspace  @ViewBag.tbFont" style="text-align: center; font-family: courier; font-size: 14px;">
                    <tr style="font-weight:bold;">
                        <td rowspan="2" style="text-align: center; width:4%;">@TnT.LangResource.GlobalRes.RptcmnSrNo</td>
                        <td rowspan="2" style="text-align: center; width:15%;">@TnT.LangResource.GlobalRes.RptcmnCode</td>
                        <td rowspan="2" style="text-align: center; width:15%;">@TnT.LangResource.GlobalRes.RptcmnPackagingDate</td>
                        <td rowspan="2" style="text-align: center; width:5%;">@TnT.LangResource.GlobalRes.RptcmnStatus</td>
                        <td  colspan="6" style="text-align: center;">@TnT.LangResource.GlobalRes.RptBadUIDListGrade</td>
                    </tr>

                    <tr style="font-weight:bold;">
                        
                        
                       
                        
                        <td style="text-align: center; width:5%;">@TnT.LangResource.GlobalRes.RptUidListOvr</td>
                        <td style="text-align: center; width:5%;">@TnT.LangResource.GlobalRes.RptUidListCtn</td>
                        <td style="text-align: center; width:5%;">@TnT.LangResource.GlobalRes.RptUidListFpd</td>
                        <td style="text-align: center; width:5%;">@TnT.LangResource.GlobalRes.RptUidListMod</td>
                        <td style="text-align: center; width:5%;">@TnT.LangResource.GlobalRes.RptUidListGnu</td>
                        <td style="text-align: center; width:5%;">@TnT.LangResource.GlobalRes.RptUidListErf</td>
                    </tr>
                    <tbody>

                        @{ int i = 1; }
                        @foreach (var item in Model.packagingDetails)
                        {
                            string status;
                            if (item.IsDecomission == true)
                            {
                                status = "Decommission";
                            }
                            else
                            {
                                if (item.IsRejected == false)
                                {
                                    status = "Good";
                                }
                                else if (item.IsRejected == true)
                                {
                                    status = "Bad";
                                }
                                else if (item.IsRejected == null && item.IsUsed == true)
                                {
                                    status = "NR/NV";
                                }
                                else
                                {
                                    status = "NU";
                                }
                            }
                            <tr class="pgbreak">
                                <td style="font-family: courier; font-size: 14px;">@i</td>
                                @if (item.PackageTypeCode == "PAL")
                                {
                                    <td style="text-align: center;font-family: courier; font-size: 14px;">@item.SSCC</td>
                                }
                                else
                                {
                                    <td style="text-align: center;font-family: courier; font-size: 14px;">@item.Code</td>
                                }

                                <td style="font-family: courier; font-size: 14px;">@item.LastUpdatedDate</td>
                                <td>@status</td>
                                @if (item.TwoDGrade != null)
                                {
                                    string gradeString = item.TwoDGrade.Replace(",", "");
                                    string Overall = gradeString.ToString().Substring(0, 1);
                                    string Contrast = gradeString.ToString().Substring(1, 1) + "\r\n\r\n";
                                    string FixedPatternDamage = gradeString.ToString().Substring(2, 1) + "\r\n\r\n";
                                    string Modulation = gradeString.ToString().Substring(3, 1) + "\r\n\r\n";
                                    string GridNonUniformity =  gradeString.ToString().Substring(4, 1);
                                    string RefDecode = gradeString.ToString().Substring(5, 1);

                                <td>@Overall</td>
                                <td>@Contrast</td>
                                <td>@FixedPatternDamage</td>
                                <td>@Modulation</td>
                                <td>@GridNonUniformity</td>
                                <td>@RefDecode</td>
                                }
                                else
                                {
                                    <td>- </td>
                                    <td>- </td>
                                    <td>- </td>
                                    <td>- </td>
                                    <td>- </td>
                                    <td>- </td>
                                }
                            </tr>

                                        i++;
                                    }

                    </tbody>
                </table>

            </div>

                <div style="border: 1px solid;margin: 10px;padding-top: 9px; font-family: 'Courier New'; font-size:14px;">
                    <table style="width:100%;" class="@ViewBag.tbFont">
                        <tr class="pgbreak">
                            <td style="width:50%; padding-left:10px;">
                                @TnT.LangResource.GlobalRes.RptAuditTrailsGenratedBy  @Model.UserName

                            </td>
                            <td style="padding-left:35%">
                                @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss")
                            </td>
                        </tr>
                    </table>
                </div>
                            if (ViewBag.scrollprint == null)
                            {
                                <div style="text-align:center;padding-top: 2%;">
                                    @Html.DropDownListFor(x => x.Packinglevel, Model.Packaginlevels)
                                </div>
                                    <br />

                                    <div style="text-align:center;">
                                        <button type="button" data-dismiss="modal" class="btn btn-danger btn-icon icon-left" id="btnClose" style="height:28px;">
                                            @TnT.LangResource.GlobalRes.cmnBtnClose
                                            <i class="entypo-cancel"></i>
                                        </button>
                                        @Html.ActionLink(TnT.LangResource.GlobalRes.RptGeneratePdf, "", "", null, new { @class = "btn btn-blue", @id = "btnGenaratePDFUidList" })
                                    </div>

                                }


                            }
</div>



<script>
    $(document).on("click", "#btnGenaratePDFUidList", function (e) {
      
        e.preventDefault();
        var lvl = $("#Packinglevel").val().trim();
        var currentLvl = $("#lblDecklvl").text().trim();
        var level;

        if (lvl != "Select") {
            if (currentLvl == lvl) {
                level = $("#Packinglevel").val().trim();
            }
            else {
                level = 'MOC';
            }
        }
        else {
            level = 'MOC';
        }

        var newUrl = "@Url.Action("genePDFUidList", "Reports")?JID=" + $("#job_JID").val() + "&Level=" + level;
        // you can do whatever you want with the new url
        window.location.href = newUrl;

    });
    $("#Packinglevel").change(function () {
        var existingLVL = $("#Packinglevel").val();
        $(".loading").show();
        var currentLvl = $("#lblDecklvl").html().trim();
        var lvl = $("#Packinglevel").val().trim();

        if (lvl != "Select") {
            if (currentLvl != lvl) {
                var jobId = $("#job_JID").val();
                $.ajax({

                    url: 'getUIDListDataLevelWise',
                    type: "POST",
                    dataType: 'json',
                    data: { "JID": jobId, "Level": lvl },
                    success: function (data) {
                        $(".loading").hide();
                        if (data == "@TnT.LangResource.GlobalRes.toastrLblLytDsgNoData") {
                            data = '<h3 style="text-align:center; padding-bottom: 50px;">@TnT.LangResource.GlobalRes.RptJObPartialViewNoDataAvailble</h3>';
                            $("#btnPrintRPT").hide();
                            $('#rptLoaded').html(data);
                        }
                        else {
                            $("#btnPrintRPT").show();
                            $('#rptLoaded').html(data);
                        }
                        $('#Packinglevel option[value=' + existingLVL + ']').attr('selected', 'selected');
                    },
                    error: function (data) {

                        toastr.warning("@TnT.LangResource.GlobalRes.toastrCustomerCreateError");

                    }
                });
            }

        }

    });

    $(document).ready(function () {
        $("#Packinglevel").val('MOC');

    });
</script>
