@model TnT.Models.AS2.M_ServersAS2

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>M_ServersAS2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HostAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HostPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HostPublicKeyPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostPublicKeyPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelfPublicKeyPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelfPublicKeyPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelfPrivateKeyPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelfPrivateKeyPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelfPrivateKeyPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelfPrivateKeyPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
