@model TnT.Models.Account.ResetPswViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Set Password</title>
    @*<title>@TnT.LangResource.GlobalRes.AccountSetPassword</title>*@

    <link rel="stylesheet" href="~/Content/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/Content/assets/css/neon-core.css">
    <link rel="stylesheet" href="~/Content/assets/css/neon-theme.css">

    <link rel="stylesheet" href="~/Content/assets/css/neon-forms.css">
    <link rel="stylesheet" href="~/Content/assets/css/custom.css">

    <script src="~/Content/assets/js/jquery-1.11.3.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.js"></script>
    <script src="~/Content/assets/js/toastr.js"></script>
</head>
<body class="page-body">


    <div class="cm-header  default-padding"  style="height:80px; background-color:black; color:white; ">
        <div class="logo text-center">
            <img src="~/Content/assets/images/CompanyLogo/logo.png" style="margin-top:10px" width="180" alt="Company Logo" />
        </div>
    </div>


    <div class="page-container">
        <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
        <div class="main-content">
            <div class="row text-center text-success">
                <h3>@TnT.LangResource.GlobalRes.SetPasswordKindlysetpassword</h3>
            </div>
            <hr />
            <div class="row  text-center text-success">
                <div class="col-lg-offset-3 col-lg-6">
                    @using (Html.BeginForm("Reset", "Account", FormMethod.Post, new { @id = "frmUser" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Uid, ViewData["UID"]);
                        <div class="form-horizontal" id="frmUsr">

                   
                            <div class="form-group">
                                <div class="col-md-6">
                                   @Html.LabelFor(model => model.Password)
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @required = "true", @onchange = "updateELEM(this);"} })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ConfirmPassword)
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @required = "true", @onchange = "updateELEM(this);"} })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" id="btnSubmit1" class="btn btn-info" value="@TnT.LangResource.GlobalRes.SetPasswordChangePassword" onclick="return Validate()" />
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>




 

    <script>

        $("#btnSubmit").click(function () {

            var Password = $("#Password").val();
            var ConfirmPassword = $("#ConfirmPassword").val();
            var msgPOST = "";

            if (Password == "") {
                showMessage("Password", "@TnT.LangResource.GlobalRes.showMessageSetPasswordProvidePassword");
                msgPOST += "@TnT.LangResource.GlobalRes.showMessageSetPasswordProvidePassword";
            } else {
                clearColor("Password");
            }
            if (ConfirmPassword == "") {
                showMessage("ConfirmPassword", "@TnT.LangResource.GlobalRes.showMessageSetPasswordConfirmPassword");
                msgPOST += "@TnT.LangResource.GlobalRes.showMessageSetPasswordConfirmPassword";
            } else {
                clearColor("ConfirmPassword");
            }

            if (msgPOST == "") {
                formSubmit();
            }
        });
        $("#Password").change(function () {

            var Password = $("#Password").val();
            var pwdmax = '@ViewData["maxpwd"]';
            var pwdmin = '@ViewData["minpwd"]';
            var passMSG = "";

            //validate letter
            if (!(Password.match(/[a-z]/))) {
                passMSG += "@TnT.LangResource.GlobalRes.passMessageSetPasswordValidateLetter";
            }

            //validate capital letter
            if (!(Password.match(/[A-Z]/))) {
                passMSG += "@TnT.LangResource.GlobalRes.passMessageSetPasswordCapitalLetter";
            }

            //validate number
            if (!(Password.match(/\d/))) {
                passMSG += "@TnT.LangResource.GlobalRes.passMessageSetPasswordCapitalNumber";
            }

            //validate number
            if (!(Password.match(/[^\w\s]/))) {
                passMSG += "@TnT.LangResource.GlobalRes.passMessageSetPasswordSpetialCharacter";
            }

            if (Password.length < pwdmin || Password.length > pwdmax) {
                passMSG += "@TnT.LangResource.GlobalRes.passMessageSetPasswordNeedsMin " + pwdmin + " @TnT.LangResource.GlobalRes.passMessageSetPasswordcharacters";
            }


            if (passMSG != "") {
                toastr.warning("@TnT.LangResource.GlobalRes.toastrSetPasswordNeedscombination1 " + pwdmin + " @TnT.LangResource.GlobalRes.toastrSetPasswordNeedscombination2");
                $("#Password").val('');
                $("#Password").focus();
                $("#Password").css("border", "red 1px solid");
                return false;
            }

        });
        $("#ConfirmPassword").change(function () {
            var Password = $("#Password").val();
            var ConfirmPassword = $("#ConfirmPassword").val();
            if (Password != ConfirmPassword) {
                toastr.warning("@TnT.LangResource.GlobalRes.toastrSetPasswordConfirmPasswordnotmatching");
                $("#ConfirmPassword").val("");
                $("#ConfirmPassword").css("border", "red 1px solid");
                return false;
            }
        });

        function showMessage(elementID, msg) {
            toastr.warning(msg);
            $("#" + elementID).val("");
            $("#" + elementID).css("border", "red 1px solid");
            return false;
        }
        function clearColor(elementID) {
            $("#" + elementID).css("border", "green 1px solid");
        }
        function updateELEM(obj) {
            if (obj.value != "") {
                $("#" + obj.id).css("border", "green 1px solid");
            }
        }
        function formSubmit() {
            document.getElementById("frmUser").submit();

        }
    </script>

    @if (TempData["Success"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#modal-msg').html('@TempData["Success"]');
                $("#showMSGBx").trigger("click");
            });
        </script>
        @TempData.Remove("Success");
    }
    <button style="display:none;" id="showMSGBx" class="myBtn" type="button" data-toggle="modal" data-target="#modal-msgBox">test </button>
    <div class="modal fade" id="modal-msgBox">
        <div class="modal-dialog">
            <div class="modal-content" style="border: 2px solid #F44336;">
                <div class="modal-header">
                    <h3 style="font-weight: bold;" class="modal-title">PACKi TRACKnTRACE</h3>
                </div>
                <div class="modal-body" style="height: 65px;">
                    <div>
                        <div class="col-md-2" style="color: #00BCD4;font-size: 38px;">
                            <i class="entypo-info-circled"></i>
                        </div>
                        <div id="modal-msg" class="col-md-10" style="text-align: left;margin-top: 13px;color: #000;font-size: 20px;">
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="text-align: right;border-top: none;">
                    <button type="button" class="btn btn-red" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        function Validate() {
            var password = document.getElementById("Password").value;
            var confirmPassword = document.getElementById("ConfirmPassword").value;
            if (password != confirmPassword) {
              
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
