@model TnT.Models.Exporter.ExporterModelView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>@TnT.LangResource.GlobalRes.ExporterIndexGetjbdta</h2>


@using (Html.BeginForm("Index", "Exporter", FormMethod.Post, new { @class = "f1", @id = "frmJob" }))
{

    <div class="form-group">
        <label class="control-label col-md-2">@TnT.LangResource.GlobalRes.JobsBatchManagerBatchName</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.JobName, new { htmlAttributes = new { @class = "form-control", @validate = "true", @maxlength = "20",@style="width:550px" } })

        </div>
    </div>
    <div class="form-group" style="padding-top:50px">
        <label class="control-label col-md-2">@TnT.LangResource.GlobalRes.ExporterIndexpkgtypcode</label>
        <div class="col-md-10">
            <select class="form-control required" data-val="true" id="ddPktype" name="PackagingType" validate="true" style="width:550px">
                <option value=''>@TnT.LangResource.GlobalRes.ExporterIndexSelect</option>
            </select>
            @Html.ValidationMessageFor(model => model.PackagingType, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="padding-top:30px">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-submit">Submit</button>
            </div>
        </div>
        }


        <script>
            $('#JobName').blur(function () {
                JobName = $('#JobName').val();
                $('#ddPktype').html('');
                if (JobName != "") {
                    $('#JobName').css("border", "green 1px solid");
                    $.ajax({
                        url: 'getPackagetypeCode',
                        type: "POST",
                        dataType: 'json',
                        data: { "jobname": JobName },
                        success: function (data) {
                            debugger;
                            if (data != "No Data") {
                                strSel = "<option value=''>@TnT.LangResource.GlobalRes.ExporterIndexSelect</option>";
                                for (i = 0; i < data.length; i++) {
                                    strSel += "<option value='" + data[i].JD_Deckcode + "'>" + data[i].JD_Deckcode + "</option>";
                                }
                                $('#ddPktype').html(strSel);
                            }
                            else {
                                toastr.warning("@TnT.LangResource.GlobalRes.toastrExporterIndexNopkgTypecodeforbth " + JobName);
                                strSel = "<option value=''>@TnT.LangResource.GlobalRes.ExporterIndexSelect</option>";
                                $('#ddPktype').html(strSel);
                            }

                        },
                        error: function (message) {
                            strSel = "<option value=''>@TnT.LangResource.GlobalRes.ExporterIndexSelect</option>";
                            $('#ddPktype').html(strSel);
                        }
                    });
                }
                else {
                    toastr.warning("@TnT.LangResource.GlobalRes.toastrExporterIndexProvideBatchNme");
                    $('#JobName').css("border", "red 1px solid");
                }
            });
        </script>
