@model IEnumerable<TnT.Models.Account.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>
    @TnT.LangResource.GlobalRes.UsersIndex

    @*@if (User.Roles_Name== "Administrator")*@@if (User.permissions.Contains("Manage User"))
    {
        <a style="float: right; margin-right: 5px;" href='@Url.Action("AppSettings", "Settings")' class="btn btn-info btn-icon icon-left">
            @TnT.LangResource.GlobalRes.UsersIndexBtnPasswordExp
            <i class="fa fa-server"></i>
        </a>
        <a style="float: right; margin-right: 5px;" href='@Url.Action("SyncADUsers", "Users")' class="btn btn-info btn-icon icon-left">
        @TnT.LangResource.GlobalRes.UsersSynUser
            <i class="fa fa-server"></i>
        </a>
    }

    <a style="float: right; margin-right: 5px;" href='@Url.Action("Create","Users")' class="btn btn-info btn-icon icon-left">
        @TnT.LangResource.GlobalRes.UsersIndexBtnCreate
        <i class="fa fa-server"></i>
    </a>


</h2>

<table class="table table-bordered datatable" id="table-1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>@TnT.LangResource.GlobalRes.UsersIndexActions</th>
            <th>@TnT.LangResource.GlobalRes.UsersIndexIsActive</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @foreach (var RoleItem in ViewBag.Roles)
                {
                    if (item.RoleID == RoleItem.ID)
                    {
                        @RoleItem.Roles_Name
                    }
                }
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                      @TnT.LangResource.GlobalRes.UsersIndexActions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        @if (item.UserType == 1)
                        {
                            /**/

                        <li>
                            @Html.ActionLink(TnT.LangResource.GlobalRes.UsersEdit, "Edit", new { id = item.ID })
                            @* <a class="tooltip-primary" data-toggle="tooltip" data-placement="top" title data-original-title="View" href='@Url.Action("Details","Jobs",  new {id = item.JID})'> <i class="entypo-doc-text-inv"></i> View</a>*@
                        </li>
                        }
                        <li>
                            @Html.ActionLink(TnT.LangResource.GlobalRes.UsersIndexChangeRole, "ChangeRole", new { id = item.ID })
                         </li>
                        <li>
                            @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                            @* <a class="tooltip-primary" data-toggle="tooltip" data-placement="top" title data-original-title="Edit" href='@Url.Action("Edit","Jobs",  new {id = item.JID})'> <i class="entypo-pencil"></i> Edit</a>*@
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                @if (User.ID != item.ID)
                {

                    if (item.Active)
                    {
                        @Html.ActionLink("Active", "Activation", new { id = item.ID })
                    }
                    else
                    {
                        @Html.ActionLink("Deactivate", "Activation", new { id = item.ID })
                    }

                }
            </td>
        </tr>
    }

</table>
