@model TnT.Models.EPCIS.EpcisEventDetails

@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>@TnT.LangResource.GlobalRes.EPCISTransaction</h2>

<div class="container col-sm-12">
    @using (Html.BeginForm("GenerateTransaction", "EPCIS", FormMethod.Post, new { @id = "frmTransaction" }))
    {
        <div class="row">
            <div class="col-sm-6" style="border:1px solid #000; min-height:500px">
                <br /><br />
                @Html.Label(@TnT.LangResource.GlobalRes.EPCISIndexSelectBatch, htmlAttributes: new { @class = "control-label col-md-4 popover-default", @data_toggle = "popover", @data_trigger = "hover", data_placement = "top", @data_content = TnT.LangResource.GlobalRes.ToolTipTransactionSelectBatch, @data_original_title = "Field Information" })
                
                <div class="col-md-7">
                    @Html.DropDownListFor(M => M.JobId, new SelectList(ViewBag.Jobs, "Value", "Text"), TnT.LangResource.GlobalRes.toastrEpcisIndexSelectJob, new { @class = "form-control", @validate = "true", @onblur = "checkControlIfBlank('JobId','" + TnT.LangResource.GlobalRes.toastrEpcisIndexSelectJob + "')" })
                </div>
                <br /><br /><br />
                <table>
                    <tr>
                        <td style="width:350px"></td>
                        <td class="col-md-8">
                            @Html.RadioButtonFor(M => M.Action, "WholeBatch", new { @onclick = "batchSection('wholeBatch');", @checked = "checked", @class = "control-label col-md-4" })&nbsp;&nbsp;
                            @Html.Label(@TnT.LangResource.GlobalRes.DAVAIndexSelectOptionWholeBatch, htmlAttributes: new { @class = "control-label col-md-5 popover-default", @data_toggle = "popover", @data_trigger = "hover", data_placement = "top", @data_content = TnT.LangResource.GlobalRes.ToolTipTransactionWholeBatch, @data_original_title = "Field Information" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="col-md-8">
                            @*@Html.RadioButtonFor(M => M.IsWholeBatch, false, new { @name="PartialBatch", @onclick = "batchSection('Partial');", @class = "control-label col-md-4" })&nbsp;&nbsp;<label for="IsWholeBatch">@TnT.LangResource.GlobalRes.DAVAIndexSelectOptionsPartialBatch</label>*@
                            <input type="radio" id="Partial" name="Action" value="Partial" onclick="batchSection('Partial')" class="control-label col-md-4" />&nbsp;&nbsp;
                            @Html.Label(@TnT.LangResource.GlobalRes.DAVAIndexSelectOptionsPartialBatch, htmlAttributes: new { @class = "control-label col-md-5 popover-default", @data_toggle = "popover", @data_trigger = "hover", data_placement = "top", @data_content = TnT.LangResource.GlobalRes.ToolTipTransactiontPartialBatch, @data_original_title = "Field Information" })
                        </td>
                    </tr>
                </table>
                <br />
                @Html.Label(@TnT.LangResource.GlobalRes.EPCISBizStep, htmlAttributes: new { @class = "control-label col-md-4 popover-default", @data_toggle = "popover", @data_trigger = "hover", data_placement = "top", @data_content = TnT.LangResource.GlobalRes.ToolTipTransactionBizStep, @data_original_title = "Field Information" })
                
                <div class="col-md-7">
                    @Html.DropDownListFor(M => M.BizStepId, new SelectList(ViewBag.BizStep, "Id", "BizStep"), TnT.LangResource.GlobalRes.EPCISSelectBizStep, new { @class = "form-control", @validate = "true", @onblur = "checkControlIfBlank('BizStepId','" + TnT.LangResource.GlobalRes.EPCISSelectBizStep + "')" })
                </div>
                <br /><br />
                @Html.Label(@TnT.LangResource.GlobalRes.EPCISDispositionEvent, htmlAttributes: new { @class = "control-label col-md-4 popover-default", @data_toggle = "popover", @data_trigger = "hover", data_placement = "top", @data_content = TnT.LangResource.GlobalRes.ToolTipTransactionDispositionEvent, @data_original_title = "Field Information" })
                
                <div class="col-md-7">
                    <select class="form-control required" data-val="true" id="Disposition" name="Disposition" validate="true" onblur="checkControlIfBlank('Disposition','@TnT.LangResource.GlobalRes.EPCISSelectDispositionEvent')">
                        <option value=''>@TnT.LangResource.GlobalRes.EPCISSelectDispositionEvent</option>
                    </select>
                </div>
                <br /><br /><br />
                <div class="form-group">
                    <div class="col-md-6" style="text-align:center">
                        @Html.Label(@TnT.LangResource.GlobalRes.EPCISShipmentDocType, htmlAttributes: new { @class = "control -label col-md-7 popover-default", @data_toggle = "popover", @data_trigger = "hover", data_placement = "top", @data_content = TnT.LangResource.GlobalRes.ToolTipTransactionDocumtentType, @data_original_title = "Field Information" })

                    </div>
                    <div class="col-md-6" style="text-align:center">
                        @Html.Label(@TnT.LangResource.GlobalRes.EPCISShipmentDocDetail, htmlAttributes: new { @class = "control -label col-md-8 popover-default", @data_toggle = "popover", @data_trigger = "hover", data_placement = "top", @data_content = TnT.LangResource.GlobalRes.ToolTipTransactionDocumentDetail, @data_original_title = "Field Information" })

                    </div>
                    </div>
                    <br /><br />
                    <div class="col-md-6">
                        @Html.DropDownListFor(M => M.BizTransactionList, new SelectList(ViewBag.BizTransactionList, "Type", "Definition"), TnT.LangResource.GlobalRes.toastrEPCISPleaseSelectDocumentType, new { @class = "form-control", @validate = "true", @onchange = "BizTransactionListChange()" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(M => M.UserData1, new { htmlAttributes = new { @class = "form-control", @validate = "true", @maxlength = "20", @disabled = true, @onblur = "checkControlIfBlank('UserData1', '" + TnT.LangResource.GlobalRes.toastrEPCISPleaseEnterDocumentTypeDetails + "')" } })
                    </div>
                    <br /><br />
                    <div class="col-md-6">
                        @Html.DropDownListFor(M => M.ExtensionData1, new SelectList(ViewBag.BizTransactionList, "Type", "Definition"), TnT.LangResource.GlobalRes.toastrEPCISPleaseSelectDocumentType, new { @class = "form-control", @validate = "true", @disabled = true, @onchange = "ExtensionData1Change()" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(M => M.UserData2, new { htmlAttributes = new { @class = "form-control", @validate = "true", @maxlength = "20", @disabled = true, @onblur = "checkControlIfBlank('UserData2', '" + TnT.LangResource.GlobalRes.toastrEPCISPleaseEnterDocumentTypeDetails + "')" } })
                    </div>
                    <br /><br />
                    <div class="col-md-6">
                        @Html.DropDownListFor(M => M.ExtensionData2, new SelectList(ViewBag.BizTransactionList, "Type", "Definition"), TnT.LangResource.GlobalRes.toastrEPCISPleaseSelectDocumentType, new { @class = "form-control", @validate = "true", @disabled = true, @onchange = "ExtensionData2Change()" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(M => M.UserData3, new { htmlAttributes = new { @class = "form-control", @validate = "true", @maxlength = "20", @disabled = true, @onblur = "checkControlIfBlank('UserData3', '" + TnT.LangResource.GlobalRes.toastrEPCISPleaseEnterDocumentTypeDetails + "')" } })
                    </div>
                    <br /><br />
                    <div class="col-md-5">
                        <input type="button" class="btn btn-info" value="@TnT.LangResource.GlobalRes.cmnBtnSave" id="btnSubmit">
                    </div>
                </div>

            <div class="col-sm-6" style="border:1px solid #000; height:250px;min-height: 500px; overflow-y:auto">
                <div class="row" style="border-left: 1px solid #fff;"><h4 id="XMLPan" style="background-color:#000; color:#fff; text-align:center;padding: 11px;margin: 0;font-weight: bold;font-size: 14px;">@TnT.LangResource.GlobalRes.RptcmnSSCC</h4></div>
                <table id="tblSSCCs" class="table table-bordered" style="width:100%; display:none;">
                    <thead>
                    <th style="text-align: center;font-weight: bold;color: #000;">@TnT.LangResource.GlobalRes.RptcmnSrNo</th>
                    <th style="text-align: center;font-weight: bold;color: #000;">@TnT.LangResource.GlobalRes.RptcmnSSCC</th>
                    <th style="text-align: center;font-weight: bold;color: #000;"></th>
                    </thead>
                    <tbody id="tblSSCCsBody"></tbody>
                </table>
            </div>

        </div>
    }
</div>
<script type="text/javascript">
    function batchSection(section) {
        if (section == "wholeBatch") {
            selPartial = "Whole";
            $("#Action").val("WholeBatch");
            var chk = document.querySelectorAll("input[type=checkbox]");
            for (var i = 0; i < chk.length; i++) {
                chk[i].disabled = true;
                chk[i].checked = true;
            }

        } else if (section == "Partial") {
            selPartial = "Partial";
            $("#Action").val("Partial");
            var chk = document.querySelectorAll("input[type=checkbox]");
            for (var i = 0; i < chk.length; i++) {
                chk[i].disabled = false;
                chk[i].checked = false;
            }
        }
    }

    $("#JobId").change(function () {
        $("#tblSSCCs").hide();
        var JbId = $("#JobId").val();

        if (JbId != '') {
            $(".loading").show();
            $.ajax({
                url: 'getSSCCsForShipment',
                type: "POST",
                dataType: 'json',
                data: { "JobId": JbId, "RCCount":1 },
                success: function (data) {
                    $(".loading").hide();
                    if (data != null) {
                        console.log(data);
                        document.getElementById("Action").checked = true;
                        $("#tblSSCCs").show();
                        $("#tblSSCCsBody").html("");
                        for (var i = 0; i < data.length; i += 1) {
                            var chkBx = '<input type="checkbox" name="SSCCs[]" value="' + data[i] + '" checked disabled=true  />';
                            console.log(chkBx);
                            $("#tblSSCCs").append("<tr><td style='text-align:center;'>" + (i + 1) + "</td><td style='text-align:center;'>" + data[i] + "</td><td style='text-align:center;'>" + chkBx + "</td></tr>");
                        }
                        console.log(data);
                    } else {
                        alert("@TnT.LangResource.GlobalRes.TempDataDavaNoData");
                    }

                },
                error: function (data) {

                    toastr.warning("@TnT.LangResource.GlobalRes.toastrCustomerCreateError");

                }
            });
        }
    });

    $('#BizStepId').change(function () {
        BizStepID = $('#BizStepId').val();
        $('#Disposition').html('');
        $.ajax({
            url: 'getBizStepWiseDispositions',
            type: "POST",
            dataType: 'json',
            data: { "BizStepID": BizStepID },
            success: function (data) {
                console.log(data);
                strSel = "<option value=''>@TnT.LangResource.GlobalRes.EPCISSelectDispositionEvent</option>";
                for (i = 0; i < data.length; i++) {
                    strSel += "<option value='" + data[i].Disposition + "'>" + data[i].Disposition + "</option>";
                }
                $('#Disposition').html(strSel);
            },
            error: function (message) {
                strSel = "<option value=''>@TnT.LangResource.GlobalRes.EPCISSelectDispositionEvent</option>";
                $('#Disposition').html(strSel);
            }
        });
    });

    $("#btnSubmit").click(function () {
        var IsWholeBatch = $("#Action").val();
        var ExtensionData1 = $("#ExtensionData1").val();
        var ExtensionData2 = $("#ExtensionData2").val();
        var msgPOST = "";

        msgPOST += checkControlIfBlank("JobId", "@TnT.LangResource.GlobalRes.toastrEpcisIndexSelectJob");
        msgPOST += checkControlIfBlank("BizStepId", "@TnT.LangResource.GlobalRes.EPCISSelectBizStep");
        msgPOST += checkControlIfBlank("Disposition", "@TnT.LangResource.GlobalRes.EPCISSelectDispositionEvent");
        msgPOST += checkControlIfBlank("BizTransactionList", "@TnT.LangResource.GlobalRes.toastrEPCISPleaseSelectDocumentType");
        msgPOST += checkControlIfBlank("UserData1", "@TnT.LangResource.GlobalRes.toastrEPCISPleaseEnterDocumentTypeDetails");

        if (IsWholeBatch == "Partial") {
            var chk = $("#tblSSCCsBody").find('input[type="checkbox"]:checked').length;
            if (chk == 0) {
                toastr.warning("@TnT.LangResource.GlobalRes.toastrDavaSSCCNumber");
                msgPOST += "@TnT.LangResource.GlobalRes.toastrDavaSSCCNumber";
            }
        }

        if (ExtensionData1 != "") {
            msgPOST += checkControlIfBlank("UserData2", "@TnT.LangResource.GlobalRes.toastrEPCISPleaseEnterDocumentTypeDetails");
        }
        if (ExtensionData2 != "") {
            msgPOST += checkControlIfBlank("UserData3", "@TnT.LangResource.GlobalRes.toastrEPCISPleaseEnterDocumentTypeDetails");
        }


        if (msgPOST == "") {
            formSubmit();
        }
    });

    function checkControlIfBlank(elementID, msg) {
        var elementValue = $("#" + elementID).val();
        if (elementValue == "") {
            showMessage(elementID, msg);
            return msg;
        }
        else {
            clearColor(elementID);
            return "";
        }
    };

    function showMessage(elementID, msg) {
        toastr.warning(msg);
        $("#" + elementID).val("");
        $("#" + elementID).css("border", "red 1px solid");
        return false;
    }
    function clearColor(elementID) {
        $("#" + elementID).css("border", "green 1px solid");
    }
    function formSubmit() {
        document.getElementById("frmTransaction").submit();
    }

    function BizTransactionListChange() {
        var val = $("#BizTransactionList").val();
        var val1 = $("#ExtensionData1").val();
        var val2 = $("#ExtensionData2").val();

        if (val == '') {
            $("#BizTransactionList").css("border", "rgb(235,235,235) 1px solid");
            $("#UserData1").prop('disabled', true);
            $("#ExtensionData1").prop('selectedIndex', 0);
            $("#ExtensionData1").trigger('change');
            $("#ExtensionData1").prop('disabled', true);
            $("#UserData1").val('');
            $("#UserData1").css("border", "rgb(235,235,235) 1px solid");
        }
        else if (val == val1 || val == val2) {
            showMessage("BizTransactionList", "@TnT.LangResource.GlobalRes.toastrEPCISPleaseSelectDifferentDocumentType");
            $("#UserData1").prop('disabled', true);
            $("#ExtensionData1").prop('selectedIndex', 0);
            $("#ExtensionData1").trigger('change');
            $("#ExtensionData1").prop('disabled', true);
            $("#UserData1").val('');
            $("#UserData1").css("border", "rgb(235,235,235) 1px solid");
        }
        else {
            clearColor("BizTransactionList");
            $('#UserData1').prop("disabled", false);
            $('#ExtensionData1').prop("disabled", false);
        }
    }

    function ExtensionData1Change() {
        var val = $("#ExtensionData1").val();

        if (val == '') {
            $("#ExtensionData1").css("border", "rgb(235,235,235) 1px solid");
            $("#UserData2").prop('disabled', true);
            $("#ExtensionData2").prop('selectedIndex', 0);
            $("#ExtensionData2").trigger('change');
            $("#ExtensionData2").prop('disabled', true);
            $("#UserData2").val('');
            $("#UserData2").css("border", "rgb(235,235,235) 1px solid");
        }
        else {
            if (val == $("#BizTransactionList").val() || val == $("#ExtensionData2").val()) {
                showMessage("ExtensionData1", "@TnT.LangResource.GlobalRes.toastrEPCISPleaseSelectDifferentDocumentType");
                $("#UserData2").prop('disabled', true);
                $("#ExtensionData2").prop('selectedIndex', 0);
                $("#ExtensionData2").trigger('change');
                $("#ExtensionData2").prop('disabled', true);
                $("#UserData2").val('');
                $("#UserData2").css("border", "rgb(235,235,235) 1px solid");
            }
            else {
                clearColor("ExtensionData1");
                $('#UserData2').prop("disabled", false);
                $('#ExtensionData2').prop("disabled", false);
            }
        }
    }

    function ExtensionData2Change() {
        var val = $("#ExtensionData2").val();

        if (val == '') {
            $("#ExtensionData2").css("border", "rgb(235,235,235) 1px solid");
            $("#UserData3").prop('disabled', true);
            $("#UserData3").val('');
            $("#UserData3").css("border", "rgb(235,235,235) 1px solid");
        }
        else {
            if (val == $("#ExtensionData1").val() || val == $("#BizTransactionList").val()) {
                showMessage("ExtensionData2", "@TnT.LangResource.GlobalRes.toastrEPCISPleaseSelectDifferentDocumentType");
                $("#UserData3").prop('disabled', true);
                $("#UserData3").val('');
                $("#UserData3").css("border", "rgb(235,235,235) 1px solid");
            }
            else {
                clearColor("ExtensionData2");
                $('#UserData3').prop("disabled", false);
            }
        }
    }
</script>
